<div class="row login-page">
  <!-- <div class="col-12" *ngIf="afAuth.user | async as user"> -->
    <!-- <h1>Hello {{ user.displayName }}!</h1> -->
    <!-- <p>User Id = {{ user.uid }}</p> -->
    <!-- <p>photoURL = {{ user.photoURL }}</p> -->
    <!-- <p>email = {{ user.email }}</p> -->
    <!-- <p>emailVerified = {{ user.emailVerified }}</p> -->
    <!-- <p>phoneNumber = {{ user.phoneNumber }}</p> -->
    <!--<p>providerId = {{ user.providerData[0].providerId }}</p>-->
    <!--<p>apiKey = {{ user.apiKey }}</p>-->
    <!--<p>appName = {{ user.appName }}</p>-->
    <!--<p>lastLoginAt = {{ user.lastLoginAt }}</p>-->
    <!--<p>createdAt = {{ user.createdAt }}</p>-->
    
    <!--<pre>{{user | json}}</pre>-->
    <!-- <bf-btn bfText="Send Confirm Email" (bfClick)="sendConfirmEmail()"></bf-btn> -->
  <!-- </div> -->
  
  <div class="col-12">
    <div class="login-box">
      <h3 class="text-center marB30">Login</h3>
        <bf-input bfLabel="User (Email)" [(ngModel)]="username" name="username" bfRequired="true"></bf-input>
        <bf-input bfLabel="Password"     [(ngModel)]="password" name="password" bfRequired="true" bfType="password"></bf-input>
        <div class="marV25">
          <bf-btn bfText="Log In" class="full-width" (bfClick)="login(username, password)"></bf-btn>
        </div>
        
        <hr>
        
        <div class="marT40 text-center">
          <p>Or</p>
          <p class="new-user-link" (click)="openSignIn()">Create a new user account</p>
        </div>
    </div>
  </div>

</div>
