@import '../game.vars.scss';

$hand-height-lg: 230px; // large screen
$hand-height-md: 190px; // medium screen
$hand-height-sm: 157px; // small screen

$panel-height: calc(100vh - 50px);

.game {
  width: 100%;
  height: 100%;
  background-color: black;

  .playerA-panel, .playerB-panel, .data-panel {
    position: fixed;
    height: $panel-height;
    height: 100dvh;
    left: 0;
    right: 0;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(.05,.5,.2,.9);
    &.playerB-panel { top: -100vh; top: -100dvh; }
    &.playerA-panel { top: 100vh; top: 100dvh;  }
    &.active { top: 0; }

    &.in-control { background-color: $player-in-control-bg; }
    &.in-waiting { background-color: $player-in-waiting-bg; }

    .panel-label { position: absolute; left: 30px; }

    .phases-box {
      z-index: 200;
      background-color: $gray-dark;
      position: absolute;
      width: 25px;
      left: 0;
      top: 245px;
      bottom: $hand-height-lg;
      @media (max-height: 1050px) { bottom: $hand-height-md; }  // medium screen
      @media (max-height: 900px)  { bottom: $hand-height-sm; } // small screen
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1px 2px;
      .phase {
        flex: 1;
        font-size: 16px;
        text-align: center;
        border: 1px solid $gray-light;
        border-radius: 3px;
        margin: 1px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &.post-combat { transform: rotate(180deg); }
        &.discard { transform: rotate(180deg); }
        &.selected { background-color: $white-dark; }
      }
    }

    .mana-pool {
      z-index: 200;
      position: absolute;
      left: 0;
      bottom: 0;
      height: $hand-height-lg;
      @media (max-height: 1050px) { height: $hand-height-md; }  // medium screen
      @media (max-height: 900px)  { height: $hand-height-sm; } // small screen
      width: 50px;
      background: $gray-dark;
      border-left: 1px solid $gray-light;
      display: flex;
      flex-direction: column;
      padding-top: 1px;
      .mana {
        flex: 1;
        border-top: 1px solid $gray-light;
        &:first-child { margin-top: -1px; }
        padding: 0 2px;
        display: flex;
        align-items: center;
        user-select: none;
        img { 
          flex: 0 1 auto;
          padding: 0 3px;
          height: 15px;
        }
        span {
          flex: 1 0 auto; 
          text-align: center;
          color: $white-dark;
          font-weight: bold;
          font-size: 15px;
        }
      }
      &.selectable .mana { cursor: pointer; }
    }

    .life-deck {
      position: absolute;
      height: 245px;
      top: 0;
      left: 0;
      z-index: 200;
      background-color: $gray-light;
      border-bottom-right-radius: 4px;
      display: flex;
      flex-direction: column;
      padding: 5px 0 0;
      .life {
        flex: 1;
        color: $white-dark;        
        .life-label { font-size: 9px; }
        .life-value { font-size: 30px; line-height: 34px; }
        text-align: center;
        user-select: none;
        &.is-selectable {
          cursor: pointer;
          transition-duration: 0.4s;
          background: $player-selectable-color;
          &:hover { background: $player-selectable-hover; }
        }
      }
      .deck {
        flex: 1;
        padding: 5px;
        .deck-label { font-size: 9px; color: white; text-align: center; }
        game-card { &.selectable { cursor: pointer; } }
        .grav-card { opacity: 0.5; }
      }
    }

    .info-box {
      position: absolute;
      bottom: calc($hand-height-lg + 1px);

      // justify-content: flex-end;
      // border-top-left-radius: 6px;
      // right: 0;
      border-top-right-radius: 6px;
      justify-content: flex-start;
      left: 25px;

      @media (max-height: 1050px) { bottom: calc($hand-height-md + 1px); }  // medium screen
      @media (max-height: 900px)  { bottom: calc($hand-height-sm + 1px); } // small screen
      padding: 5px;
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: baseline;
      max-width: calc(100% - 26px);
      z-index: 600;
      box-shadow: 3px -3px 5px 1px rgb(97 97 97 / 18%);
      background: $info-box-bg;
      // bf-btn + bf-btn { margin-left: 10px; }      
      .info-btn + .info-btn { margin-left: 10px; }
      // .info-btn.cancel-btn { margin-right: 10px; }
      .main-info {
        margin: 0 5px 3px;
        display: flex;
        align-items: center;
      }

      // .info-btn.global-btn { margin: 0 10px; }
      // .info-btn.cancel-btn { margin: 0 10px; }

      .info-btn {
        button.bf-btn {
          display: flex;
          align-items: center;
          height: 26px;
          border-radius: 4px;
          border: 0;
          padding: 0;
          overflow: hidden;
          cursor: pointer;
          color: #fff;
          background: royalblue;
          box-shadow: 0 1px 2px rgba(34, 36, 38, 0.6);          
          .btn-text-section {
            flex: 1;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: center;
            white-space: nowrap;
            line-height: 10px;
            font-size: 9px;
            padding: 0 10px;
          }
          .btn-icon-section {
            display: flex;
            width: 30px;
            padding: 0;
            align-items: center;
            justify-content: center;
            background: #2b58de;
            height: 100%;
            font-size: 10px;
          }
        }
        &:not(.disabled) {
          button.bf-btn:active { box-shadow: inset 2px 2px 5px rgba(34, 36, 38, 0.4); }          
        }
        &.disabled {
          cursor: not-allowed;
          opacity: 0.65;          
        }
      }
    }


    .hand-box {
      z-index: 1000;
      border: 1px solid $gray-dark;
      position: absolute;
      left: 50px;
      bottom: 0;
      // right: 60px;
      right: 0;
      padding: 5px;
      height: $hand-height-lg;
      @media (max-height: 1050px) { height: $hand-height-md; }  // medium screen
      @media (max-height: 900px)  { height: $hand-height-sm; } // small screen
      overflow: auto;
      min-width: calc(var(--card-width) + 10px); // xl = 160px;
      background: $hand-box-bg;        
      transform-origin: top;
      transition: transform 350ms cubic-bezier(.05,.5,.2,.9);
      .no-cards {
        width: 100%;
        text-align: center;
        color: $gray-light;
        font-size: 20px;
        padding: 30% 0;
        min-height: calc(var(--card-height) + 10px); // xl = 220px;
        max-width: calc(var(--card-width) - 15px); // xl = 135px;
      }
      .box-button {
        position: absolute;
        display: flex;
        align-items: center;
        .icon-hand { margin-left: 3px; font-size: 10px; }
        z-index: 700;
        bottom: 0;
        font-size: 12px;
        width: 30px;
        position: fixed;
        background: #616161;
        background: #3c3c3c;
        color: gainsboro;
        padding: 0;
        justify-content: center;
        line-height: 15px;
        right: 0;
        border-top-left-radius: 3px;
        opacity: 0.75;
        padding: 1px 0 0 0;
      }

      display: flex;
      game-card { margin: 2.5px 4px; }
    }

    .play-box {
      z-index: 100;
      position: absolute;
      left: 25px;
      right: 0px;
      top: 0;
      bottom: $hand-height-lg;
      @media (max-height: 1050px) { bottom: $hand-height-md; }  // medium screen
      @media (max-height: 900px)  { bottom: $hand-height-sm; } // small screen
      padding: 5px;
      overflow: auto;
      game-card { position: absolute; }
    }

  }

  .playerB-panel {
    .phases-box {
      top: $hand-height-lg;
      @media (max-height: 1050px) { top: $hand-height-md; }  // medium screen
      @media (max-height: 900px)  { top: $hand-height-sm; } // small screen
      bottom: 245px;
    }
    .mana-pool {
      bottom: unset;
      top: 0;
    }
    .life-deck {
      top: unset;
      bottom: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 4px;
    }
    .hand-box {
      bottom: unset;
      top: 0;
      .box-button {
        bottom: unset;
        top: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 3px;
      }
    }
    .play-box {
      top: $hand-height-lg;
      @media (max-height: 1050px) { top: $hand-height-md; }  // medium screen
      @media (max-height: 900px)  { top: $hand-height-sm; } // small screen
      bottom: 0;
    }
  }


}

// This is to avoid hiding cards on the back when tapped
game-card[from="tbleA"] { width: 0; height: 0; }
game-card[from="tbleB"] { width: 0; height: 0; }




.center { display: flex; justify-content: center; }
.v-align { display: flex; align-items: center; }
.flex-1 { flex: 1; }