<div class="dialog-container" [class.fix]="fix"
     [style.bottom.px]="win.customDialog.size === 'min' ? win.customDialog.bottom : fix ? 25 : undefined"
     [class.minimized]="win.customDialog.size === 'min'" [style.z-index]="win.customDialog.zInd">
  <div class="window-bg" (click)="win.customDialog.maximize()"></div>
  <div [hidden]="win.customDialog.size === 'min'" class="min-btn" (click)="win.customDialog.minimize()" hoverTip="Click to minimize the window" tipSide="right">-</div>
  <div [hidden]="win.customDialog.size === 'max'" class="max-btn" (click)="win.customDialog.maximize()" hoverTip="Click to open the window" tipSide="left">{{card?.name}}</div>

  <h2>{{card?.name}}</h2>
  <div class="inner-dialog">
    <div class="center">
      <game-card [card]="card" from="targetSelection"></game-card>
    </div>
  
    <p style="margin-top: 15px;">Select 1 card from your deck to take it to your hand:</p>
  
    <div class="select-box">
      <game-card *ngFor="let targetCard of deckCards"
                  [card]="targetCard" from="deckSelection" (click)="selectCard(targetCard.gId)">
      </game-card>
    </div>
  </div>

  <div class="btns-box">
    <bf-btn bfText="Cancel" bfIcon="icon-cross" (bfClick)="cardOp.cancel()"></bf-btn>
  </div>
</div>