@import '../game.vars.scss';

.graveyard-panel {
  position: fixed;
  z-index: 1000;
  background: $panel-graveyard-bg;
  border: 1px solid #737373;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 11px 9px 15px 2px #676767;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h2 { font-size: 35px; } // title



  left: calc($table-center-left - 1000px);
  right: calc($table-center-right - 1000px);
  top: calc($table-center-top - 590px); 
  bottom: calc($table-center-bottom - 380px);

  .card-list {
    display: flex;
    align-items: center;
    .panel-card {
      padding: 3px;
      border: 1px solid black;
      background: white;
      border-radius: 5px;
      margin: 7.5px;
      img { max-height: 200px; }
    }
  }

  .btns-box {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    bf-btn { margin-left: 15px; }
    .main-info {
      margin: 0 15px;
      flex: 1;
      text-align: left;
    }
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background: mediumaquamarine;
    padding: 0 20px;
    // line-height: 30px;
    border-top-right-radius: 9px;
    cursor: pointer;
  }
}
