@import '../game.vars.scss';

.graveyard-panel {
  background: $panel-graveyard-bg;

  @include panel-basics();
  @include fixed-panel(40px, 40px, 0px);

  .card-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    game-card { margin: 15px; }
  }

  .btns-box {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    bf-btn { margin-left: 15px; }
    .main-info {
      margin: 0 15px;
      flex: 1;
      text-align: left;
    }
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background: mediumaquamarine;
    padding: 0 20px;
    // line-height: 30px;
    border-top-right-radius: 9px;
    cursor: pointer;
  }
}

