// Add spacing when 2+ components in a row
bf-btn:not(.block) + bf-btn:not(.block):not([class*="marL"]) { margin-left: 5px; }
bf-btn.block + bf-btn.block { margin-top: 5px; }

bf-checkbox:not(.block) + bf-checkbox:not(.block) { margin-left: 15px; }
bf-radio:not(.block) + bf-radio:not(.block) { margin-left: 15px; }

bf-checkbox .check-text { font-weight: bold; }

bf-slider, bf-range-slider {
  display: block;
  padding: 0 30px 20px 30px;
  bf-label { margin-left: -30px; }
  .ng5-slider {
    .ng5-slider-bubble {
      font-size: $font-size-base; // 14px
    }
    .ng5-slider-inner-tooltip {
      color: $optional-color;
      font-size: ($font-size-base * 0.86); // ~12px
    }
  }
}

bf-quantity-input .form-control:focus { box-shadow: none; }


// With Blueface font families, a baseline alignment looks better
bf-btn .disabled-tooltip .bf-btn {
  .btn-text-section { padding: 1px 15px 0; }
  .btn-icon-section { padding: 1px 0 0 0; }
}

bf-status-badge div.bf-status-badge {
  margin: 0;
  max-height: 30px;
}

// If the label is a link, make it all visually clickable
a > bf-label label { cursor: pointer; }
bf-label.is-error label { color: $warning-color; } // @TODO: Move this to the lib
bf-checkbox.is-error div.checkbox label input[type=checkbox] + span.check-box { border-color: $warning-color; } // @TODO: Move this to the lib
bf-switch.form-fit {
  padding-bottom: 17px;
  &.flat { padding-bottom: 2px; }
  .bf-switch { margin-top: 4px; }
}


// Make list paginators automatically mobile for XS + SM
// This is equivalent than <bf-list-paginator [class.mobile]="!screen.isMD">
@media (max-width: 991px) {
  bf-list-paginator .bf-list-paginator {
    width: 100%;
    flex-wrap: wrap;
    .page-buttons {
      width: 100%;
      display: flex;
      .page-btn { flex: 1; }
    }
    .page-num-selector {
      flex: 1 0 100%;
      margin-top: 10px;
      padding-left: 0;
      bf-dropdown .bf-dropdown-form-group { width: 100%; }
    }
  }
}


bf-list-paginator.mobile-sm{
  @media (max-width: 920px) {
    .bf-list-paginator {
      width: 100%;
      flex-wrap: wrap;
    }
    .page-buttons {
      width: 100%;
      display: flex;
      position: relative;
      overflow: hidden;
      .page-btn {
        flex: 1;
        @media(max-width: 650px){
          &:last-child {
            position: absolute;
            right: 0px;
          }
          &:nth-last-child(2){
            position: absolute;
            right: 35px;
          }
        }
      }
    }
    .page-num-selector {
      flex: 1 0 100%;
      margin-top: 10px;
      padding-left: 0;
      bf-dropdown .bf-dropdown-form-group { width: 100%; }
    }
  }
}


bf-dropdown .bf-dropdown-form-group .bf-dropdown {
  .list-container, .input-image, .input-icon {
    z-index: 900;
  }
}

// Custom coloring for input placeholders
input.form-control {
  &::-webkit-input-placeholder { color: $input-placeholder-color; } /* WebKit, Blink, Edge */
  &:-moz-placeholder           { color: $input-placeholder-color; opacity:  1; } /* Mozilla Firefox 4 to 18 */
  &::-moz-placeholder          { color: $input-placeholder-color; opacity:  1; } /* Mozilla Firefox 19+ */
  &:-ms-input-placeholder      { color: $input-placeholder-color; } /* Internet Explorer 10-11 */
  &::-ms-input-placeholder     { color: $input-placeholder-color; } /* Microsoft Edge */
  &::placeholder               { color: $input-placeholder-color; } /* Most modern browsers support this now. */
}
