.mana-input {
  margin-right: 10px;
  img {
    position: absolute;
    z-index: 99;
    height: 32px;
    width: 36px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    padding: 3px 5px;
    background: #888888;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 1px;
  }
  .bf-input-form-group {
    input {
      text-align: right;
      padding-left: 30px;
    }
  }
}



// Modal styles in the game
.modal-header {
  flex-direction: row;
  button.close { padding: 5px; }
}

.game-modal {
  .modal-content {
    background-color: #323c3e;
    background-clip: padding-box;
    border: 2px solid rgb(230, 230, 230);
    color: white;
    box-shadow: 0px 0px 10px 5px #8c8c8c;
    p {
      font-size: 15px;
    }
    mtg-card {
      margin: 2px;
      padding: 2px;
      border-radius: 5px;
      &:hover {
        padding: 0;
        border: 2px solid rgba(yellow, .5);
      }
      &.selected {
        padding: 0;
        border: 2px solid rgba(yellow, .75);
        .card-border {
          border-color: rgba(yellow, .75);
          background: rgba(yellow, .75);
        }
      }
    }
  }
}
