<div class="effects-panel h-cards-len-{{hCardsLen}} v-cards-len-2">
  <div class="close-btn" (click)="win.effectsPanel.close()">x</div>
  <h2>{{title}}</h2>

  <div>All these cards play effects on <b>{{card.name}}</b>:</div>
  
  <div class="card-list">
    <div *ngFor="let effect of effectCards">
      <!-- Effect {{effect.id}} ({{effect.scope}}) -->
      <span class="owner-text">{{effect.card?.owner === game.playerANum ? 'Yours' : "Opponent's"}}</span>
      <game-card *ngIf="effect.card" 
                 [card]="effect.card" 
                 from="panelEffects"
                 (mouseenter)="cardEv.hoverCard$.next(effect.card)"
                 (mouseleave)="cardEv.hoverCard$.next(null)"
                 (click)="selectCard(effect.card)">
      </game-card>
    </div>


  </div>  

  <div><span class="icon-arrow-down"></span></div>

  <div class="main-card">
    <span class="owner-text">{{card.owner === game.playerANum ? 'Yours' : "Opponent's"}}</span>
    <game-card [card]="card" from="panelEffects"
               (mouseenter)="cardEv.hoverCard$.next(card)"
               (mouseleave)="cardEv.hoverCard$.next(null)"
               (click)="selectCard(card)">
    </game-card>
  </div>

  <div class="btns-box">
    <bf-btn (bfClick)="win.effectsPanel.close()" bfText="Close" bfIcon="icon-cross"></bf-btn>
  </div>
  
</div>