@import 'variables';
@import '../game.vars.scss';

$arrows-color: $text-color;

.effects-panel {
  background: $panel-graveyard-bg;

  @include panel-basics();
  @include resizable-panel(40px, 40px, 17%);

  .card-list {
    display: flex;
    align-items: center;
    position: relative;
  }
  game-card { margin: 7.5px; }
  .owner-text {
    position: relative;
    top: 10px;
    font-size: 11px
  }

  .icon-arrow-down { 
    font-size: 25px; 
    margin: 0 0 -15px 0;
    display: block;
    color: $arrows-color;
  }


}
