<div class="effects-panel h-cards-len-{{hCardsLen}}">
  <div class="close-btn" (click)="end.emit()">x</div>
  <h2>{{title}}</h2>

  <div>All these cards play effects on <b>{{card.name}}</b>:</div>
  
  <div class="card-list">
    <div *ngFor="let effect of effectCards">
      <!-- Effect {{effect.id}} ({{effect.scope}}) -->
      <span class="owner-text">{{effect.card?.owner === game.playerANum ? 'Yours' : "Opponent's"}}</span>
      <game-card *ngIf="effect.card" 
        [card]="effect.card" 
        from="panelEffects"
        (click)="selectCard.emit(effect.card); end.emit()"
      ></game-card>
    </div>


  </div>  

  <div><span class="icon-arrow-down"></span></div>

  <div class="main-card">
    <span class="owner-text">{{card.owner === game.playerANum ? 'Yours' : "Opponent's"}}</span>
    <game-card [card]="card" from="panelEffects"
               (click)="selectCard.emit(card); end.emit()">
    </game-card>
  </div>

  <div class="btns-box">
    <bf-btn (bfClick)="end.emit()" bfText="Close" bfIcon="icon-cross"></bf-btn>
  </div>
  
</div>