<nav class="menu" *ngIf="oauth.profile">
  <ul class="menu-nav">
    <li class="menu-item">
      <a class="menu-link active" routerLink="/home">
        <span class="icon-phone2"></span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link" routerLink="/settings">
        <span class="icon-users2"></span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link" routerLink="/settings">
        <span class="icon-clock2"></span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link" routerLink="/settings">
        <span class="icon-cog2"></span>
      </a>
    </li>
  </ul>
</nav>