@import 'src/scss/variables.scss';

.menu-bar {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: $navbar-height;
  bottom: 0;
  width: $menu-width;
  background: $menu-bg;
  z-index: 5000;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li.menu-entry {
      text-align: center;
      padding: 3px 0;
      a.menu-entry-link {
        display: block;
        padding: 10px 0;
        font-size: 25px;
        color: #797979;
        cursor: pointer;
        &:hover {
          background: lighten($menu-bg, 20%);
          text-decoration: none;
        }
      }
      &.active {
        background: $white;
        border-left: 5px solid $primary_color;
        padding-left: 0;
        a.menu-entry-link {
          color: $primary_color;
        }
      }
    }
  }

  transition: transform 0.15s ease-out;
  &.menu-collapse {
    transform: translateX(1px - $menu-width);
    background: black;
  }
}