<nav class="navbar" [class.logged-out]="!isLoggedIn">
  <div class="navbar-brand" [class.logged-in]="isLoggedIn">
    <h1 class="app-title">JB-MTG</h1>
    <!-- <a class="d-block" routerLink="/home" tabIndex="0">
      <img src="assets/images/brand/logo.png?v=8.1" alt="{{ 'navbar.logo.alt_text' | translate : { brand: 'brand.name' | translate } }}">
    </a> -->
  </div>

  <div class="navbar-content your-credit">
    <span>Credit: <b>{{dataService.yourCredit$ | async | number: '1.0-0' }}</b> sats</span>
  </div>
  <div class="navbar-content">
    <bf-avatar *ngIf="isLoggedIn" 
      class="profile-avatar white-border sm"
      defaultText="JB"
      [imgUrl]="profileImageUrl"
      (click)="toggleProfile()">
    </bf-avatar>
    <!-- [hasAvatar]="!!auth.profile?.avatar_id" -->
  </div>

</nav>

<div class="profile-box" [class.expanded]="isProfileExpanded" *ngIf="auth?.profile$ | async as profile">
  <div class="row">
    <h2 class="col-8">Profile</h2>    
    <div class="col-4 text-right">
      <bf-btn bfIcon="icon-arrow-up3" class="quaternary" (bfClick)="toggleProfile()"></bf-btn>
    </div>

    <bf-input class="col-12" bfLabel="Username"     [(ngModel)]="username" [bfDisabled]="true"></bf-input>

    <bf-input class="col-7" bfLabel="New Password" [(ngModel)]="newPass" [bfDisabled]="passBtnDisabled"></bf-input>
    <div class="col-5 text-right" style="padding: 21px 15px 0;">
      <bf-btn bfText="Update" bfIcon="icon-arrow-right3" class="extra" 
              [bfDisabled]="passBtnDisabled || !newPass" (bfClick)="updatePassword(newPass)"></bf-btn>
    </div>

    <bf-input class="col-7" bfLabel="Display Name" [(ngModel)]="displayName"></bf-input>
    <div class="col-5 text-right" style="padding: 21px 15px 0;">
      <bf-btn bfText="Update" bfIcon="icon-arrow-right3" (bfClick)="updateProfile()"></bf-btn>
    </div>

    <bf-dropdown *ngIf="languages" style="margin-top: 15px;"
      class="col-12 full-width"
      bfLabel="view.common.language"
      [(ngModel)]="lang"
      (ngModelChange)="appTranslate.changeLanguage($event)"
      [bfList]="languages"
      bfSelect="code"
      bfRender="name"
      [bfRequired]="true"
      bfPlaceholder="views.dropdown.placeholder">
    </bf-dropdown>


    <!-- <div class="col-12 text-right">
      <bf-btn bfText="Update Password" bfIcon="icon-checkmark" [bfDisabled]="passBtnDisabled || !newPass"
              class="extra" (bfClick)="updatePassword(newPass)"></bf-btn>
    </div> -->

    <!-- <div class="col-12" style="margin-top: 30px;">
      <h4>Credit: {{ (profile.sats || 0) | number: '1.0-0' }} sats</h4>
    </div> -->
  </div>

  <div class="profile-bottom row">
    <!-- <bf-btn class="col-6 full-width" bfIcon="icon-arrow-right3" bfText="Save Profile" (bfClick)="updateProfile()"></bf-btn> -->
     <div class="col-12 text-right">
       <bf-btn bfIcon="icon-switch" bfText="views.common.logout" (bfClick)="auth.requestLogout()"></bf-btn>
     </div>
  </div>
  
</div>