<nav class="navbar navbar-dark bg-dark mb-5">
 <a class="navbar-brand" routerLink="/home">My Cool App</a>
 <div class="navbar-expand mr-auto">
   <div class="navbar-nav">
     <a class="nav-item nav-link active" routerLink="/home">Home</a>
     <a class="nav-item nav-link"        routerLink="/page1">Page1</a>
     <a class="nav-item nav-link"        routerLink="/page1">Page2</a>
     <a class="nav-item nav-link"        routerLink="/page1">Page3</a>
   </div>
 </div>
 <div class="navbar-expand ml-auto navbar-nav">
   <div class="navbar-nav">
     <span>User: Joel</span>
   </div>
 </div>
</nav>
