@import 'variables';

nav.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  background: $nav-bg-color;
  color: $nav-color;
  a {
    color: $nav-link-color;
    text-decoration: none;
  }
  position: fixed;
  z-index: 1030;
  left: 0;
  top: 0;
  right: 0;
  height: $navbar-height;
  border-bottom: 1px darken($primary_color, 3%) solid;
  box-shadow: 0 2px 3px rgba(34,36,38,.15);

  .app-title { margin: 0; }

  .navbar-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    bf-avatar.profile-avatar {
      cursor: pointer;
      // .bf-avatar {
      //   width: 65px;
      //   height: 65px;
      //   min-width: 0;
      //   min-height: 0;
      // }
    }
  }


}
.profile-box {
  z-index: 100;
  box-shadow: 0 2px 3px rgba(34, 36, 38, 0.15);
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  position: fixed;
  top: 62px;
  right: 5px;
  width: 370px;
  height: 320px;
  background: white;
  padding: 20px 25px 5px;

  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(.05,.5,.2,.9);
  transition-property: transform;
  transform-origin: top;
  transform: translate(0, -340px);
  &.expanded { transform: translate(0, 0); }

  p { margin: 2px 0; }

  .profile-bottom {
    position: absolute;
    bottom: 10px;
    right: 20px;
    left: 25px;
    bf-btn { margin-top: 21px; }
  }
}


