<h2>Settings</h2>

<div class="page">

  <div class="details">
    <div *ngIf="selCard">
     
      <div class="card-data">
        <div class="row whiteBg">
          <h3 class="col-12">Details: {{selCard.id}}</h3>

          <bf-input class="col-6" bfLabel="Image" [(ngModel)]="selCard.image" (ngModelChange)="prepareName()"></bf-input>
          <bf-input class="col-6" bfLabel="Name"  [(ngModel)]="selCard.name"></bf-input>

          <div class="col-12" style="display: flex;">
            <bf-label style="flex: 1" bfText="Cast" class="block"></bf-label>
            <bf-input style="flex: 1" bfLabel="X"      [(ngModel)]="selCard.cast[0]"></bf-input>
            <bf-input style="flex: 1" bfLabel="Blue"   [(ngModel)]="selCard.cast[1]"></bf-input>
            <bf-input style="flex: 1" bfLabel="White"  [(ngModel)]="selCard.cast[2]"></bf-input>
            <bf-input style="flex: 1" bfLabel="Black"  [(ngModel)]="selCard.cast[3]"></bf-input>
            <bf-input style="flex: 1" bfLabel="Red"    [(ngModel)]="selCard.cast[4]"></bf-input>
            <bf-input style="flex: 1" bfLabel="Green"  [(ngModel)]="selCard.cast[5]"></bf-input>
          </div>

          <bf-dropdown bfLabel="Color" class="col-4"
                [(ngModel)]="selCard.color"
                bfRender="value"
                bfSelect="value"
                [bfRequired]="true"
                [bfList]="colors">
          </bf-dropdown>
          <bf-dropdown bfLabel="Type" class="col-4"
                [(ngModel)]="selCard.type"
                bfRender="value"
                bfSelect="value"
                [bfRequired]="true"
                [bfList]="cardTypes">
          </bf-dropdown>
          <bf-input *ngIf="selCard.type === 'creature'" class="col-2" bfLabel="Attack" [(ngModel)]="selCard.attack"></bf-input>
          <bf-input *ngIf="selCard.type === 'creature'" class="col-2" bfLabel="Defense" [(ngModel)]="selCard.defense"></bf-input>

          <div class="col-12" *ngIf="selCard.type === 'creature'" style="margin: 15px 0;">
            <bf-checkbox style="margin-right: 10px;" bfLabel="Flying"       [(ngModel)]="selCard.isFlying"></bf-checkbox>
            <bf-checkbox style="margin-right: 10px;" bfLabel="Trample"      [(ngModel)]="selCard.isTrample"></bf-checkbox>
            <bf-checkbox style="margin-right: 10px;" bfLabel="First Strike" [(ngModel)]="selCard.isFirstStrike"></bf-checkbox>
            <bf-checkbox style="margin-right: 10px;" bfLabel="Haste"        [(ngModel)]="selCard.isHaste"></bf-checkbox>
            <bf-checkbox style="margin-right: 10px;" bfLabel="Wall"         [(ngModel)]="selCard.isWall"></bf-checkbox>
            <bf-checkbox style="margin-right: 10px;" bfLabel="Regenerates"  [(ngModel)]="selCard.canRegenerate"></bf-checkbox>
          </div>

          <!-- <bf-input class="col-12" bfLabel="Text" [(ngModel)]="selCard.text"></bf-input> -->

          <bf-input class="col-4" bfLabel="Price (sats)" [(ngModel)]="selCard.price" (bfOnEnter)="saveCard(selCard)"></bf-input>

          <bf-dropdown bfLabel="Color Protection" class="col-6 flat" *ngIf="selCard.type === 'creature'"
                [(ngModel)]="selCard.colorProtection"
                bfRender="value"
                bfSelect="value"
                [bfList]="colors">
          </bf-dropdown>

          <bf-input class="col-3" bfLabel="Max In Deck" [(ngModel)]="selCard.maxInDeck" (bfOnEnter)="saveCard(selCard)"></bf-input>

          <bf-checkbox class="col-4" bfLabel="Black Border" [(ngModel)]="hasBlackBorder" style="margin-top: 30px;"></bf-checkbox>
          <bf-checkbox class="col-4" bfLabel="Ready to play" [(ngModel)]="selCard.readyToPlay" style="margin-top: 30px;"></bf-checkbox>

          <div class="col-12" style="margin-top: 50px;">
            <bf-btn class="full-width" bfText="Save Card Data" bfType="save" (bfClick)="saveCard(selCard)"></bf-btn>
            <!-- <bf-btn class="full-width" bfText="TRANSFER" bfType="save" (bfClick)="dbTransfer()"></bf-btn> -->
          </div>

        </div>

        <div class="full-card">          
          <mtg-card [cardImg]="selCard.image" class="xl" [border]="selCard.border"></mtg-card>
        </div>

      </div>

      <h4 style="margin-top: -30px;">
        <bf-btn bfText="+1 Unit" bfType="add" style="margin-right: 15px;" (bfClick)="createUnit()"></bf-btn>
        <span>Units ({{selCard.units.length}}):</span>
      </h4>
      <div>
        <ul class="list-unstyled table-list header" *ngIf="selCard.units.length">
          <li class="list-header">
            <bf-list-header-col class="col-6" colTitle="Ref"></bf-list-header-col>
            <bf-list-header-col class="col-4" colTitle="Owner"></bf-list-header-col>
            <bf-list-header-col class="col-2" colTitle=""></bf-list-header-col>
          </li>
        </ul>
      </div>

    </div>

    <div class="units-list" *ngIf="selCard">

      <ul class="list-unstyled table-list content">
        <li class="list-row" *ngFor="let unit of selCard.units; let ind = index">
          <div class="col-6 ref-font">[{{ind}}] {{unit.ref}}</div>
          <div class="col-4">
            {{unit.owner.name}}
             <!-- <bf-dropdown class="flat"
              [(ngModel)]="unit.owner"
              [bfList]="users"
              bfRender="name"
              bfEmptyLabel="Free"
             ></bf-dropdown> -->
          </div>
          <div class="col-2 text-right">
            <bf-btn bfType="delete-icon" (bfClick)="deleteUnit(unit)"></bf-btn>
          </div>
        </li>
      </ul>
    </div>

  </div>




  <div class="list">
    <div class="row whiteBg" style="margin-top: 0;">
      <bf-input class="col-4 flat" bfIcon="icon-search" [(ngModel)]="cardsList.filterText" (ngModelChange)="cardsList.filter($event)"></bf-input>
      <!-- <bf-checkbox class="col-2 pad-input" bfLabel="Only Ready To Play" [(ngModel)]="cardsList.filters.readyToPlay" (ngModelChange)="filterReadyToPlay($event)" ></bf-checkbox> -->
      <bf-checkbox class="col-4 pad-input" bfLabel="Highlight Not Ready" [(ngModel)]="highlightNoneReady"></bf-checkbox>
      <div class="col-4 text-right">
        <bf-btn bfIcon="icon-plus" bfText="New Card" (bfClick)="newCard()"></bf-btn>
        <bf-btn bfIcon="icon-plus" bfText="Show Code" (bfClick)="showCode()" style="margin-left: 15px;"></bf-btn>
      </div>
    </div>

    <div class="all-cards">
      <div *ngFor="let card of cardsList.renderList$ | async" (click)="selectCard(card)"
           class="card-wrapper" [class.not-ready]="highlightNoneReady && !card.readyToPlay">
        {{card.id}}
        <mtg-card [cardImg]="card.image" class="sm" [border]="card.border" [class.selected]="selCard?.id === card.id"></mtg-card>
      </div>
    </div>
  </div>


  <div *ngIf="showingCode" class="cards-db-code">
    <bf-btn bfIcon="icon-cross" bfText="Close" (bfClick)="showingCode = false"></bf-btn>
    <pre id="db-code">{{cardsDBCode}}</pre>
  </div>
  
</div>