<h1>Sell "{{unit.card.name}}"</h1>
<span class="icon-cross2 close-btn" (click)="close()"></span>

<!-- <h3>{{unit.ref}}</h3> -->

<mtg-card [cardImg]="unit.card.image" class="lg" [border]="unit.card.border"></mtg-card>

<p><b>Ref:</b> {{unit.ref}}</p>
<p>Average price: <b>{{unit.card.price | number: '1.0-0' }}</b> sats</p>

<div class="deck-warning">
  <p><b>Warning</b>: This unit is being used in {{deckCount}} of your decks</p>
  <!-- <p *ngFor="let deckName of deckNamesList">{{deckName}}</p> -->
  <!-- <bf-btn bfText="Remove / Replace it from all decks"></bf-btn> -->
</div>

<bf-input bfLabel="Sell it for" class="sell-input"
          bfRightBtnText="sats"
          [(ngModel)]="price"
          (bfOnEnter)="addSellOffer()">
</bf-input>

<div class="bottom-row text-center" *ngIf="!unit.sellPrice">
  <bf-btn bfText="Place a Sell Order" class="warning" bfIcon="icon-coin-dollar" (bfClick)="addSellOffer()"></bf-btn>
</div>
<div class="bottom-row text-center" *ngIf="unit.sellPrice">
  <bf-btn bfText="Cancel Sell Order" class="primary" bfIcon="icon-cross" (bfClick)="removeSellOffer()"></bf-btn>
  <bf-btn bfText="Update Sell Order" class="warning" bfIcon="icon-coin-dollar" (bfClick)="addSellOffer()"></bf-btn>
</div>