<div class="dialog-container" [class.minimized]="false">
  <!-- <div class="min-btn" (click)="summonOp.minimized = !summonOp.minimized">{{summonOp.minimized ? summonOp.title : '-'}}</div> -->
  <h2>Black Lotus</h2>
  <!-- <div>Using Black Lotus</div> -->
  <div class="center">
    <game-card [card]="card" from="customDialog"></game-card>
  </div>

  <div>
    <p>Select 3 mana of any single color:</p>

    <div class="mana-options">
      <mana-array [mana]="[0,1,0,0,0,0]" [class.sel]="mana1===1" (click)="mana1=1"></mana-array>
      <mana-array [mana]="[0,0,1,0,0,0]" [class.sel]="mana1===2" (click)="mana1=2"></mana-array>
      <mana-array [mana]="[0,0,0,1,0,0]" [class.sel]="mana1===3" (click)="mana1=3"></mana-array>
      <mana-array [mana]="[0,0,0,0,1,0]" [class.sel]="mana1===4" (click)="mana1=4"></mana-array>
      <mana-array [mana]="[0,0,0,0,0,1]" [class.sel]="mana1===5" (click)="mana1=5"></mana-array>
    </div>

    <div class="mana-options">
      <mana-array [mana]="[0,1,0,0,0,0]" [class.sel]="mana2===1" (click)="mana2=1"></mana-array>
      <mana-array [mana]="[0,0,1,0,0,0]" [class.sel]="mana2===2" (click)="mana2=2"></mana-array>
      <mana-array [mana]="[0,0,0,1,0,0]" [class.sel]="mana2===3" (click)="mana2=3"></mana-array>
      <mana-array [mana]="[0,0,0,0,1,0]" [class.sel]="mana2===4" (click)="mana2=4"></mana-array>
      <mana-array [mana]="[0,0,0,0,0,1]" [class.sel]="mana2===5" (click)="mana2=5"></mana-array>
    </div>

    <div class="mana-options">
      <mana-array [mana]="[0,1,0,0,0,0]" [class.sel]="mana3===1" (click)="mana3=1"></mana-array>
      <mana-array [mana]="[0,0,1,0,0,0]" [class.sel]="mana3===2" (click)="mana3=2"></mana-array>
      <mana-array [mana]="[0,0,0,1,0,0]" [class.sel]="mana3===3" (click)="mana3=3"></mana-array>
      <mana-array [mana]="[0,0,0,0,1,0]" [class.sel]="mana3===4" (click)="mana3=4"></mana-array>
      <mana-array [mana]="[0,0,0,0,0,1]" [class.sel]="mana3===5" (click)="mana3=5"></mana-array>
    </div>

  </div>

  <div class="btns-box">
    <div class="your-selection" *ngIf="mana1 || mana2 || mana3">
      <span>Your Selection:</span>
      <mana-icon [mana]="mana1"></mana-icon>
      <mana-icon [mana]="mana2"></mana-icon>
      <mana-icon [mana]="mana3"></mana-icon>
    </div>
    <bf-btn bfText="Cancel" bfIcon="icon-cross" (bfClick)="cancel()"></bf-btn>
    <bf-btn bfText="Use Black Lotus" bfIcon="icon-arrow-right3"
            [bfDisabled]="!mana1 || !mana2 || !mana3" (bfClick)="select()">
    </bf-btn>
  </div>
</div>