@import 'variables';

$bg-color: #333333;
$border-color: #d1d1d1;

:host {
  .bf-tooltip {
    z-index: 9001;
    position: fixed;
    padding: 5px 10px;
    background: $bg-color;
    color: white;
    border-radius: 4px;
    border: 1px solid $border-color;
    box-shadow: 3px 3px 5px 1px rgb(103 103 103 / 45%);
    span { position: relative; z-index: 9001; }

    .arrow-rect {
      z-index: 9000;
      position: absolute;      
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      background: $bg-color;
    }
    
    &.side-top .arrow-rect {
      left: calc(50% - 6px);
      bottom: -7px;
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
    &.side-right .arrow-rect {
      left: -7px;
      top: calc(50% - 6px);
      border-bottom: 1px solid #d1d1d1;
      border-left: 1px solid #d1d1d1;
    }

    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-property: opacity;
    opacity: 0;
    &.is-on { opacity: 1; }
  }

}