<div class="row">
  <div class="col-6">
    <h3>Games List</h3>
  </div>
  <div class="col-6 text-right">
    <bf-btn bfText="Create New Game" (bfClick)="gameSrv.createNewGame()"></bf-btn>
  </div>


  <div class="col-12" *ngIf="!!games$">
    <div *ngFor="let game of games$ | async">
      {{ game.created }}, {{ game.status }}, {{ game.phase }} -
      {{ game.user1.userName }}, {{ game.user1.deckName }} |
      {{ game.user2.userName }}, {{ game.user2.deckName }}
      <bf-btn bfText="Go" (bfClick)="loadGame(game)"></bf-btn>
    </div>
  </div>
</div>
