@import 'src/scss/variables.scss';



.content-view {
  display: flex;
  flex-wrap: nowrap; 
  .card-detail-box {
    width: 285px;
  };
  .main-view-box {
    width: calc(100% - 685px);
    padding: 0 10px;
  }
  .decks-list {
    width : 400px;
    padding: 0 15px 0 25px;
  }
} 


.deck-box {
  border-right: 1px solid black;
}

.deck-row {
  padding: 15px;
  margin-bottom: 3px;
  .deck-icon {
    font-size: 50px;
  }
  .deck-name {
    margin-left: 20px;
    font-size: 20px;
  }

  cursor: pointer;
  &:hover {
    background: rgba($primary-color, 0.15);
    border-radius: 6px;
  }
  &.selected {
    background: rgba($primary-color, 0.3);
    border: 2px solid $primary-color;
    border-radius: 6px;
  }
}

.cards-filter {
  margin-top: -25px;
  margin-left: -5px;
}

.card-box {
  margin: 0 5px 10px 0;
  padding: 2px 10px 4px;
  &.big-size { padding: 0; }
  cursor: pointer;
  &.selected {
    /* border: 1px solid #FFEB3B; */
    // border-radius: 3px;
    background: rgba($quaternary_color, 0.5);
  }
  &:hover:not(.selected) {
    // border: 1px solid #FFEB3B;
    // border-radius: 3px;
    background: rgba($quaternary_color, 0.25);
  }
}

.no-card-warning {
  margin: 40px;
  border: 3px dashed gray;
  padding: 30px 50px;
  text-align: center;
  font-size: 30px;
  color: gray;
  border-radius: 5px;
}