<div class="page">

  <!-- Card Details -->
  <div class="details">
    <h2 class="fixed-title" style="min-height: 40px;">{{ 'Card Details' | translate }}</h2>

    <div class="full-card" *ngIf="!hoveringCard && !hoveringUnit"><mtg-card class="xl" style="opacity: 0;"></mtg-card></div>

    <div *ngIf="hoveringCard">
      <div class="full-card">
        <mtg-card [cardImg]="hoveringCard.image" class="xl" [border]="hoveringCard.border"></mtg-card>
      </div>
      <h4 class="units-title">
        <span *ngIf="!hoverFromDeck">You own {{ hoveringCard.units.length }} <b>{{hoveringCard.name}}</b></span>
        <span *ngIf="hoverFromDeck">Deck units ({{ hoveringCard.units.length }})</span>
      </h4>
      <div>
        <ul class="list-unstyled table-list header" *ngIf="hoveringCard.units.length">
          <li class="list-header">
            <bf-list-header-col class="col-12" colTitle="Reference"></bf-list-header-col>
            <!-- <bf-list-header-col class="col-5" colTitle=""></bf-list-header-col> -->
          </li>
        </ul>
      </div>
    </div>
    <div class="units-list" *ngIf="hoveringCard && hoveringCard?.units?.length">
      <ul class="list-unstyled table-list content">
        <li class="list-row" *ngFor="let unit of hoveringCard.units">
          <div class="col-9 ref-font">{{unit.ref}}</div>
          <div class="col-3 text-right" *ngIf="!unit.sellPrice">
            <bf-btn *ngIf="!hoverFromDeck" class="warning" 
                     bfText="Sell it"
                    (bfClick)="askSellUnit(unit)">
            </bf-btn>
          </div>
          <div class="col-3 on-sale" *ngIf="unit.sellPrice" (click)="askSellUnit(unit)">
            <span [hoverTip]="'for ' + (unit.sellPrice | number: '1.0-0') + ' sats'" tipSide="right">On Sale</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="full-card" *ngIf="hoveringUnit">
      <mtg-card [cardImg]="hoveringUnit.card.image" class="xl" [border]="hoveringUnit.card.border"></mtg-card>
      <!-- <h4 style="margin-top: 30px;">Ref: {{hoveringUnit.ref}}</h4> -->
      <div class="unit-details">
        <div><b>Name:</b><span>{{hoveringUnit.card.name}}</span></div>
        <div><b>Card Id:</b><span>{{hoveringUnit.card.id}}</span></div>
        <div><b>Unit Ref:</b><span>{{hoveringUnit.shortRef}}</span></div>
        <div><b>Avg. Price:</b><span>{{hoveringUnit.card.price}} sats</span></div>
        <div><b>Max in Deck:</b><span>{{hoveringUnit.card.maxInDeck || 'any'}}</span></div>
        <div><b>Type:</b><span>{{hoveringUnit.card.type}}</span></div>
        <div><b>Color:</b><span>{{hoveringUnit.card.color}}</span></div>
        <!-- <div><b>Cast</b><span><mana-array class="md" [mana]="hoveringUnit.card.cast"></mana-array></span></div> -->
      </div>
    </div>

  </div>


  <!-- Your Cards -->
  <div class="list">
    <div class="d-flex" style="margin-bottom: 5px;">
      <h2 class="fixed-title flex-1">{{ 'Your Cards' | translate }}</h2>
      <bf-btn class="flex-1 quaternary text-right" *ngIf="!showDecks"
              bfText="Show Your Decks" bfIcon="icon-arrow-right3" (bfClick)="switchShowDecks()">
      </bf-btn>
    </div>

    <!-- Search Box -->
    <div class="row whiteBg search-box" [class.compact]="showDecks">
      <bf-input class="flat" bfIcon="icon-search" [(ngModel)]="filterText" (ngModelChange)="filterList($event, 'text')"></bf-input>
      <div class="checkboxes">
        <bf-checkbox class="pad-input" bfLabel="Group" [(ngModel)]="isGrouped"></bf-checkbox>
        <bf-checkbox class="pad-input" bfLabel="Ready" [(ngModel)]="filterReady" (ngModelChange)="filterList($event, 'ready')" *ngIf="auth.isAdmin"></bf-checkbox>
      </div>

      <!-- Card Type -->
      <bf-dropdown class="col-3 flat full-width"
        [bfList]="cardTypes"
        bfRender="value"
        bfSelect="value"
        bfPlaceholder="-- Type --"
        [(ngModel)]="filterCardType"
        (ngModelChange)="filterList($event, 'type')">
      </bf-dropdown>

      <!-- Color -->
      <bf-dropdown class="col-3 flat full-width"
        [bfList]="colors"
        bfRender="value"
        bfSelect="value"
        bfPlaceholder="-- Color --"
        [(ngModel)]="filterColor"
        (ngModelChange)="filterList($event, 'color')">
      </bf-dropdown>


    </div>

    <!-- All Card Units -->
    <div class="all-cards" *ngIf="!isGrouped" [style.top.px]="showDecks ? 175 : 120">
      <div class="card-wrapper" *ngFor="let unit of unitsList.renderList$ | async" 
           [hoverTip]="selDeck && !isUnitInDeck(unit) ? 'Click to add it to the deck' : ''"
           bfDragGroup="into-deck" [bfDraggable]="unit" [bfDragMode]="canUnitBeAddedToTheDeck(unit) ? 'add-unit' : 'disabled'"
           (mouseenter)="hoverUnit(unit)" (mouseleave)="hoverUnit()" (click)="selectUnit(unit)">
        <div class="card-name">{{unit.card.name}}</div>
        <mtg-card [cardImg]="unit.card.image" class="sm"
                  [border]="unit.card.border"
                  [isDraggable]="canUnitBeAddedToTheDeck(unit)"
                  [class.selected]="selUnit?.ref === unit.ref"
                  [class.is-in-deck]="isUnitInDeck(unit)">
        </mtg-card>
      </div>
      <bf-list-paginator [bfCtrl]="unitsList" *ngIf="unitsList.totalPages > 1"></bf-list-paginator>
    </div>

    <!-- All Grouped Cards -->
    <div class="all-cards" *ngIf="isGrouped" [style.top.px]="showDecks ? 175 : 120">
      <div class="card-wrapper" *ngFor="let card of cardsList.renderList$ | async"
           [hoverTip]="selDeck && !isCardInDeck(card) ? 'Click to add it to the deck' : ''"           
           bfDragGroup="into-deck" [bfDraggable]="card" [bfDragMode]="canCardBeAddedToTheDeck(card) ? 'add-card' : 'disabled'"
           (mouseenter)="hoverCard(card)" (mouseleave)="hoverCard()" (click)="selectCard(card)">
        <div class="card-name" *ngIf="card.units">
          <!-- {{card.units.length}} x {{card.name}} -->
          <!-- <span class="count">{{card.units.length}}</span> x {{card.name}} -->
          <span class="name-text">{{card.name}} </span>
          <span>({{card.units.length - unitsInDeck(card.id)}})</span>
        </div>
        <mtg-card [cardImg]="card.image" class="sm"
                  [border]="card.border"
                  [isDraggable]="canCardBeAddedToTheDeck(card)"
                  [class.selected]="selCard?.id === card.id"
                  [class.is-in-deck]="isCardInDeck(card)">
        </mtg-card>
      </div>
      <bf-list-paginator [bfCtrl]="cardsList" *ngIf="cardsList.totalPages > 1"></bf-list-paginator>
    </div>

  </div>




  <!-- Decks -->
  <div class="decks" [class.expanded]="showDecks">

    <!-- Decks List Header -->
    <div class="d-flex" style="margin-bottom: 5px;" *ngIf="!selDeck">
      <!-- <span class="close-btn icon-cross" hoverTip="Close your decks" tipSide="left" (click)="switchShowDecks()"></span> -->
      <bf-btn bfIcon="icon-undo2" class="close-btn quaternary" hoverTip="Close your decks" tipSide="left" (click)="switchShowDecks()"></bf-btn>            
      <h2 class="fixed-title">{{ 'Your Decks' | translate }}</h2>
    </div>

    <div class="whiteBg row" style="margin: 0 0;" *ngIf="!selDeck">
      <!-- <bf-input class="col-4 flat" bfIcon="icon-search" [(ngModel)]="deckSearch"></bf-input> -->
      
      <div class="col-8">
        <!-- [bfDisabled]="!!deckAction"  -->
        <bf-btn [bfText]="deckAction !== 'copy' ? 'Copy Deck' : 'Cancel Copy'" bfIcon="icon-copy"
                (bfClick)="deckAction = (deckAction === 'copy' ?  '' : 'copy')">
        </bf-btn>
        <bf-btn [bfText]="deckAction !== 'del' ? 'Delete Deck' : 'Cancel Delete'" bfIcon="icon-bin" class="warning"
                (bfClick)="deckAction = (deckAction === 'del' ?  '' : 'del')">
        </bf-btn>
      </div>
      <div class="col-4 text-right">
        <bf-btn bfText="Add New Deck" bfType="add" (bfClick)="createNewDeck()"></bf-btn>
      </div>
    </div>

    <!-- Decks List -->
    <ul class="decks-list" *ngIf="decks && !selDeck">
      <li class="deck-list-item" *ngFor="let deck of decks" 
          [hoverTip]="selectDeckTip()" (click)="selectDeck(deck)">
        <img src="/assets/images/deck.png"/>
        <div class="deck-name">{{deck.deckName}}</div>
      </li>
    </ul>




    <!-- Deck Editor Header -->
    <div class="d-flex" style="margin-bottom: 5px;" *ngIf="selDeck">
      <!-- <span class="close-btn icon-cross" hoverTip="Back to your decks" tipSide="right" (click)="goBackToDecks()"></span> -->
      <bf-btn bfIcon="icon-undo2" class="close-btn quaternary" hoverTip="Back to your decks" tipSide="left" (click)="goBackToDecks()"></bf-btn>            
      <h2 class="fixed-title flex-1">{{ 'Your Deck' | translate }}</h2>
      <div class="saving-tip" [show]="isSaving">Saving Deck...</div>
      <div class="saved-deck" [show]="!isSaving" hoverTip="All changes are properly saved" tipSide="left">
        <span class="icon-checkmark"></span>
      </div>
    </div>

    <!-- Deck Editor -->
    <div class="deck-editor" *ngIf="selDeck">
      <div class="row whiteBg" style="margin-top: 0; padding: 15px 5px 10px;">
        <div class="col-12" style="display: flex; align-items: baseline;">
          <bf-label bfText="Name" style="margin-right: 15px;"></bf-label>
          <bf-input class="flat flex-1" [(ngModel)]="deckName" (ngModelChange)="debounceName.next($event)"></bf-input>

          <div class="flex-1" style="margin-left: 30px;">
            <bf-checkbox class="pad-input" bfLabel="Group" [(ngModel)]="isDeckGrouped"></bf-checkbox>
            <bf-checkbox class="pad-input" bfLabel="Restricted" [(ngModel)]="isRestricted" hoverTip="Some cards are restricted to 1 per deck only, but you can disable it"></bf-checkbox>
          </div>

          <div class="flex-1 text-right">
            <bf-btn hoverTip="Auto Order Cards" bfIcon="icon-sort-amount-desc" (bfClick)="autoOrderDeck()"></bf-btn>            
            <bf-btn hoverTip="Copy Deck"  bfIcon="icon-copy" (bfClick)="copyDeck(selDeck)"></bf-btn>
            <bf-btn hoverTip="Delete Deck"bfIcon="icon-bin" class="warning" (bfClick)="deleteDeck(selDeck)"></bf-btn>
            <!-- <bf-btn bfText="Save" bfType="save" (bfClick)="saveDeck()"></bf-btn> -->
          </div>
        </div>

        <div class="col-12" style="margin-top: 15px;">{{deckTotals()}}</div>
      </div>

      <!-- All Units in Deck -->      
      <div class="deck-editor-list" *ngIf="!isDeckGrouped" 
           id="unit-deck" bfDropContainer="units-deck" bfDragGroup="into-deck" (bfDrop)="dropIntoDeck($event)">
           
        <div class="deck-card-item"
             *ngFor="let unit of selDeck.units">

          <!--Placeholder before-->
          <div class="card-wrapper deck-unit-placeholder" [id]="'before-' + unit.ref" 
               *ngIf="bfDnD.isDragging && bfDnD.bfDraggable?.ref !== unit.ref"
               [bfDropPlaceholder]="unit" bfDropContainerId="unit-deck">
          </div>

          <!-- [hoverTip]="'Click to remove it'" -->
          <div class="card-wrapper"
               bfDragGroup="into-deck" [bfDraggable]="unit" bfDragMode="order-unit"
               [class.hide]="bfDnD.isDragging && bfDnD.bfDraggable?.ref === unit.ref"
               (mouseenter)="hoverUnit(unit, true)"  (click)="removeUnitFromDeck(unit)">
               <!-- (mouseleave)="hoverUnit()" -->
            <div class="card-name">{{unit.card.name}}</div>
            <mtg-card [cardImg]="unit.card.image" class="sm" [border]="unit.card.border"></mtg-card>
  
          </div>

          <!--Placeholder after -->
          <div class="card-wrapper deck-unit-placeholder" [id]="'after-' + unit.ref"
               *ngIf="bfDnD.isDragging && bfDnD.bfDraggable?.ref !== unit.ref"
               [bfDropPlaceholder]="unit" bfDropContainerId="unit-deck">
          </div>

        </div>
      </div>

      <!-- Grouped Cards in Deck -->
      <div class="deck-editor-list" *ngIf="isDeckGrouped" 
           id="group-deck" bfDropContainer="cards-deck" bfDragGroup="into-deck" (bfDrop)="dropIntoDeck($event)">

        <div class="card-wrapper" *ngFor="let card of deckGroupedCards"
             [hoverTip]="card.units.length > 1 ? 'Click to remove 1' : 'Click to remove it'"
             bfDragGroup="out-deck" [bfDraggable]="card" bfDragMode="order-card"
             (mouseenter)="hoverCard(card, true)" (mouseleave)="hoverCard()" (click)="removeCardFromDeck(card)">
          <div class="card-name">
            <span class="count">{{card.units.length}}</span>
            <span class="name-text">x {{card.name}}</span>
          </div>
          <mtg-card [cardImg]="card.image" class="sm" [border]="card.border"></mtg-card>
        </div>
        
        <div class="card-wrapper" [bfDropPlaceholder]="{ pos: 0 }" bfDropContainerId="group-deck"></div>
      </div>

    </div>

  </div>
  
</div>
  