:host {
  height: 100%;
  display: block;
}

h2.fixed-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  margin: 0;
}

.page {
  padding: 15px 0 15px 0;
  display: flex;
  height: 100%;


  .details {
    // flex: 0 0 480px;
    flex: 0;
    padding: 0 20px;
    border-right: 1px solid #aaa;
    height: 100%;
    display: flex;
    flex-direction: column;

    .full-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px 20px 0;
    }

    .units-title {
      margin-top: 30px;
    }
    
    ul.header li.list-header { padding: 4px 10px; }
    .units-list {
      overflow: auto;
      .list-row { min-height: 30px; }
    }

    ul.table-list li.list-row [class*=col-] { padding: 0 5px; }
    ul.table-list li.list-header [class*=col-] { padding: 2.5px; }

    .ref-font {
      font-family: monospace;
      font-size: 1em !important;
    }
    .on-sale {
      justify-content: flex-end;
      text-decoration: underline;
      transition-duration: 0.3s;
      cursor: pointer;
      &:hover { color: black; }
    }

    .unit-details {
      width: calc(100% + 20px);
      padding: 15px 10px;
      font-size: 13px;
      div { display: flex; margin-bottom: 4px; }
      b     { flex: 1; }
      span  { flex: 2; word-break: break-word; }
    }
  }

  .list {
    flex: 3;
    position: relative;
    padding: 0 15px;
    border-right: 1px solid #aaa;
    
    &.bf-drop-container.dragging-over {
      background: #ff0b0b54;
    }

    .search-box {
      padding: 15px 5px;
      margin-top: 0;
      bf-input, .checkboxes { padding: 0 15px; flex: 0 0 25%; max-width: 25%; } // col-3
      // container-type: inline-size;
      // @container (max-width: 700px) {
      &.compact {
        bf-input, .checkboxes { flex: 0 0 50%; max-width: 50%; } // col-6
        bf-dropdown { margin-top: 15px; flex: 0 0 50%; max-width: 50%; } // col-6
        // bf-input { flex: 0 0 100%; max-width: 100%; } // col-12
        // bf-dropdown { margin-top: 15px; flex: 0 0 30%; max-width: 30%; } // col-4
        // .checkboxes { margin-top: 15px; flex: 0 0 40%; max-width: 40%; } // col-4
      }
    }

    .all-cards {
      position: absolute;
      bottom: 0;
      top: 135px;
      margin-right: 15px;
      overflow: auto;
      .bf-draggable.card-wrapper.is-dragging { opacity: 0.2; }
    }  
  }

  .decks {
    width: 0;
    overflow: hidden;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(.05,.5,.2,.9);
    &.expanded {
      flex: 5; 
      width: unset; 
      padding-left: 15px;
    }
    .close-btn {
      // margin-left: 15px;
      // line-height: 37px;
      margin-right: 15px;
      font-size: 20px;
      color: #bdbdbd;
      cursor: pointer;
    }
    .saving-tip, .saved-deck {      
      text-align: right;
      line-height: 40px;
      font-size: 20px;
      padding: 0 15px;
      border-radius: 8px;
      background: #ffaa00;
      &.saved-deck { 
        background: none;
        padding: 0 15px 0 5px;
      }
    }

    .decks-list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 10px 15px;
      margin-top: 10px;
      .deck-list-item {
        cursor: pointer;
        margin: 0 10px;
        text-align: center;
        // max-width : calc(var(--size-ref) * 1.20);  // xl=120, md=100, sm=75
        // img { max-width : calc(var(--size-ref) * 1.20); }
        max-width: 130px; img { max-width: 130px; }
        @media (max-width: 1500px) or (max-height: 1050px) { max-width: 110px; img { max-width: 110px; } } // medium screen
        @media (max-width: 1000px) or (max-height: 900px)  { max-width:  90px; img { max-width:  90px; } } // small screen
      }
    }

    .deck-editor {
      position: relative;
      height: 100%;
      .deck-editor-list {
        position: absolute;
        overflow: auto;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 50px;
        padding: 8px;

        .deck-card-item { display: inline-block; }
        
        &.bf-drop-container {
          .card-wrapper.hide { display: none; } // Don't display the reordering card in it's original position
          // &.dragging-over {
          //   padding: 4px;
          //   border: 4px dashed gray;
          //   border-radius: 10px;
          //   background: darkseagreen;
          //   border-color: greenyellow;
          // }
        }

        .deck-unit-placeholder.bf-drop-placeholder {
          background: rgba(yellow, 0.5);
          top: 15px; width: 120px; height: 168px; // large screen          
          @media (max-width: 1500px) or (max-height: 1050px) { top: 12px; width: 96px; height: 140px; } // medium screen
          @media (max-width: 1000px) or (max-height: 900px)  { top: 10px; width: 71px; height: 105px; } // small screen
          
          // top: calc(var(--size-ref) * 0.12);
          // width : calc(var(--size-ref) * 1.16);  // xl=120, md=100, sm=75
          // height: calc(var(--size-ref) * 1.62);  // xl=168, md=144, sm=109

          vertical-align: top;
          border-radius: 4px;
          border: 3px dashed #959595;
          transition-duration: 120ms;
          &.active-placeholder {
            margin: 0 4px;
            opacity: 0.5;
            background: greenyellow;
          }
          &:not(.active-placeholder) {
            width: 0;
            padding: 0;
            border: none;
          }
        }
      }
    }

  }

  .card-wrapper {
    display: inline-block;
    padding: 2.5px 4px;
    text-align: center;
    padding-top: 1.1em;
    position: relative;
    .card-name {
      position: absolute;
      top: 0;
      left: 5px;
      right: 5px;
      display: flex;
      font-size: 0.75em;
      justify-content: center;
      span.name-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 4px;
      }

      .count {
        background: orange;
        padding: 0px 6px;
        border-radius: 2px;
        font-weight: bold;
        display: inline-block;
        margin-right: 4px;
      }
    }
    mtg-card {
      cursor: pointer;
      &.is-in-deck { opacity: 0.2; }
      &.selected {
        box-shadow: 0px 0px 3px 3px #00d4ff;
        border-radius: 4px;
      }
    }
  }  


  bf-btn + bf-btn { margin-left: 15px; }
  bf-checkbox + bf-checkbox { margin-left: 15px; }
}



// --------- Non encapsulated styles ------
.bf-drag-ghost {
  opacity: 0.6;
  .card-name { display: none; }
}