<div class="page">

  <!-- Card Details -->
  <div class="details">
    <h2>{{ 'Card Details' | translate }}</h2>

    <div *ngIf="hoveringCard">     
      <div class="full-card">
        <mtg-card [cardImg]="hoveringCard.image" class="lg"></mtg-card>        
      </div>
      <h4 class="units-title">
        <span>You own {{ hoveringCard.units.length }} units:</span>
      </h4>
      <div>
        <ul class="list-unstyled table-list header" *ngIf="hoveringCard.units.length">
          <li class="list-header">
            <bf-list-header-col class="col-7" colTitle="Ref"></bf-list-header-col>
            <bf-list-header-col class="col-5" colTitle=""></bf-list-header-col>
          </li>
        </ul>
      </div>
    </div>
    <div class="units-list" *ngIf="hoveringCard && hoveringCard?.units?.length">
      <ul class="list-unstyled table-list content">
        <li class="list-row" *ngFor="let unit of hoveringCard.units">
          <div class="col-10 ref-font">{{unit.ref}}</div>
          <div class="col-2 text-right">
            <bf-btn class="warning" bfText="Sell it" bfIcon="icon-coin-dollar" 
                    (bfClick)="askSellUnit(hoveringCard, unit)">
            </bf-btn>
          </div>
        </li>
      </ul>
    </div>

    <div class="full-card" *ngIf="hoveringUnit">
      <mtg-card [cardImg]="hoveringUnit.image" class="lg"></mtg-card>
      <h4 style="margin-top: 30px;">Ref: {{hoveringUnit.ref}}</h4>
    </div>

  </div>


  <!-- Your Cards -->
  <div class="list">
    <div class="d-flex" style="margin-bottom: 5px;">
      <h2 class="flex-1">{{ 'Your Cards' | translate }}</h2>
      <bf-btn class="flex-1 text-right" 
              [bfText]="showDecks ? 'Hide Your Decks': 'Show Your Decks'"
              [bfIcon]="showDecks ? 'icon-arrow-right3': 'icon-arrow-left6'"
              (bfClick)="switchShowDecks()">
      </bf-btn>
    </div>

    <!-- Search Box -->
    <div class="row whiteBg" style="margin-top: 0;">
      <bf-input class="col-3 flat" bfIcon="icon-search" [(ngModel)]="cardsList.filterText" (ngModelChange)="cardsList.filter($event)"></bf-input>
      <div class="col-3">
        <bf-checkbox class="pad-input" bfLabel="Group" [(ngModel)]="isGrouped" (ngModelChange)="switchGrouped()" style="margin-right: 15px;"></bf-checkbox>
        <bf-checkbox class="pad-input" bfLabel="Ready" [(ngModel)]="cardsList.filters.readyToPlay" (ngModelChange)="filterReadyToPlay($event)"></bf-checkbox>
      </div>

      <!-- Card Type -->
      <bf-dropdown class="col-3 flat full-width"
        [bfList]="cardTypes"
        bfRender="value"
        bfSelect="value"
        bfPlaceholder="-- Type --"
        [(ngModel)]="cardsList.filters.cardType"
        (ngModelChange)="cardsList.filter($event, 'type')">
      </bf-dropdown>

      <!-- Color -->
      <bf-dropdown class="col-3 flat full-width"
        [bfList]="colors"
        bfRender="value"
        bfSelect="value"
        bfPlaceholder="-- Color --"
        [(ngModel)]="cardsList.filters.color"
        (ngModelChange)="cardsList.filter($event, 'color')">
      </bf-dropdown>
    </div>

    <!-- All Card Units -->
    <div class="all-cards" *ngIf="!isGrouped">
      <div class="card-wrapper" *ngFor="let unit of cardsList.renderList$ | async" 
           [hoverTip]="selDeck && !isUnitInDeck(unit) ? 'Click to add it to the deck' : ''"
           (mouseenter)="hoverUnit(unit)" (mouseleave)="hoverUnit()" (click)="selectUnit(unit)">
        <div class="card-name">{{unit.name}}</div>
        <mtg-card [cardImg]="unit.image" class="sm"
                  [class.selected]="selUnit?.ref === unit.ref"
                  [class.is-in-deck]="isUnitInDeck(unit)">
        </mtg-card>
      </div>
    </div>

    <!-- All Grouped Cards -->
    <div class="all-cards" *ngIf="isGrouped">
      <div class="card-wrapper" *ngFor="let card of cardsList.renderList$ | async"
           [hoverTip]="selDeck && !isCardInDeck(card) ? 'Click to add it to the deck' : ''"
           (mouseenter)="hoverCard(card)" (mouseleave)="hoverCard()" (click)="selectCard(card)">
        <div class="card-name" *ngIf="card.units">
          <!-- {{card.units.length}} x {{card.name}} -->
          <!-- <span class="count">{{card.units.length}}</span> x {{card.name}} -->
          <span>{{card.name}} </span>
          <span>({{card.units.length - unitsInDeck(card.id)}})</span>
        </div>
        <mtg-card [cardImg]="card.image" class="sm"
                  [class.selected]="selCard?.id === card.id"
                  [class.is-in-deck]="isCardInDeck(card)">
        </mtg-card>
      </div>
    </div>

  </div>




  <!-- Decks -->
  <div class="decks" [class.expanded]="showDecks">

    <!-- Decks List Header -->
    <div class="d-flex" style="margin-bottom: 5px;" *ngIf="!selDeck">
      <h2 class="flex-1">{{ 'Your Decks' | translate }}</h2>
      <bf-btn class="flex-1 text-right" bfText="Create New Deck" bfType="add"
              (bfClick)="createNewDeck()">
      </bf-btn>
    </div>

    <!-- Decks List -->
    <ul class="list-unstyled table-list header" *ngIf="decks && !selDeck">
      <li class="list-header">
        <bf-list-header-col class="col-7" colTitle="Deck Name"></bf-list-header-col>
        <bf-list-header-col class="col-5" colTitle=""></bf-list-header-col>
      </li>
      <li class="list-row" *ngFor="let deck of decks">
        <div class="col-8 ref-font">{{deck.deckName}}</div>
        <div class="col-4 text-right">
          <bf-btn bfText="Remove" bfType="delete" (bfClick)="deleteDeck(deck)" class="warning"></bf-btn>
          <bf-btn bfText="Edit" bfType="edit" (bfClick)="editDeck(deck)"></bf-btn>
        </div>
      </li>
    </ul>




    <!-- Deck Editor Header -->
    <div class="d-flex" style="margin-bottom: 5px;" *ngIf="selDeck">
      <h2 class="flex-3">{{ 'Your Deck: ' | translate }}{{selDeck.deckName}} ({{selDeck.cards.length}} cards)</h2>
      <bf-btn class="flex-1 text-right" bfText="Back" bfIcon="icon-arrow-left6"
              (bfClick)="selDeck = undefined; loadDecks()">
      </bf-btn>
    </div>

    <!-- Deck Editor -->
    <div class="deck-editor" *ngIf="selDeck">
      <div class="row whiteBg" style="margin-top: 0;">
        <div class="col-6" style="display: flex; align-items: baseline;">
          <bf-label bfText="Deck Name" style="margin-right: 15px;"></bf-label>
          <bf-input class="flat flex-1" [(ngModel)]="deckName"></bf-input>
        </div>
        <bf-checkbox class="col-3 pad-input" bfLabel="Group" [(ngModel)]="isDeckGrouped" (ngModelChange)="switchGrouped()"></bf-checkbox>
        <bf-btn class="col-3 text-right" bfText="Save Deck" bfType="save" (bfClick)="saveDeck()"></bf-btn>
      </div>

      <!-- All Units in Deck -->
      <div class="deck-editor-list" *ngIf="!isDeckGrouped">
        <div class="card-wrapper" *ngFor="let unit of selDeck.cards" 
             [hoverTip]="'Click to remove it'"
             (mouseenter)="hoverUnit(unit)" (mouseleave)="hoverUnit()" (click)="removeUnitFromDeck(unit)">
          <div class="card-name">{{unit.name}}</div>
          <mtg-card [cardImg]="unit.image" class="sm"></mtg-card>
        </div>
      </div>

      <!-- Grouped Cards in Deck -->
      <div class="deck-editor-list" *ngIf="isDeckGrouped">
        <div class="card-wrapper" *ngFor="let card of groupDeckCards"
             [hoverTip]="card.units.length > 1 ? 'Click to remove 1' : 'Click to remove it'"
             (mouseenter)="hoverCard(card)" (mouseleave)="hoverCard()" (click)="removeCardFromDeck(card)">
          <div class="card-name">
            <span class="count">{{card.units.length}}</span> x {{card.name}}
          </div>
          <mtg-card [cardImg]="card.image" class="sm"></mtg-card>
        </div>
      </div>

    </div>

  </div>
  
</div>
  