<div class="modal-header justify-content-center">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <p>{{modalText}}</p>
    <div>
      <!-- <div *ngFor="let card of cardList" class="card-box" [class.selected]="card.isSelected"
        (click)="selectCard(card)">
        <div class="card-border" >
          <img [src]="'/assets/cards/' + card.card.image">
        </div>
      </div> -->

      <mtg-card *ngFor="let card of cardList"
                (click)="selectCard(card)"
                [class.selected]="card.isSelected" 
                [cardImg]="card.card.image">
      </mtg-card>



    </div>
  </div>
  
  <div class="modal-footer">
    <!-- <bf-btn bfText="Close" bfType="cancel" (bfClick)="activeModal.close()"></bf-btn> -->
    <!-- <bf-btn bfType="add" bfText="Create" (bfClick)="createCard()"> </bf-btn> -->
    <bf-btn bfType="save" bfText="Ok" [bfDisabled]="!isOkEnabled"
            (bfClick)="clickOk()"> </bf-btn>
  </div>
  