@import 'variables';
@import '../game.vars.scss';

$game-panel-width: 650px;
$game-panel-bg: #dddddd;

  // left:   calc($table-center-left   - 1000px);
  // right:  calc($table-center-right  - 1000px);
  // top:    calc($table-center-top    - 580px); 
  // bottom: calc($table-center-bottom - 120px);



.game-panel {
  position: fixed;
  z-index: 8000;
  background: $game-panel-bg;
  top: 0;
  bottom: 0;
  right: 1px;
  width: $game-panel-width;
  border-left: 1px solid black;
  
  transform: translateX($game-panel-width);
  transform-origin: right; 
  transition: transform 350ms cubic-bezier(0.05, 0.5, 0.2, 0.9);
  &.is-open { transform: translateX(1px) }

  .pin-btn {
    position: absolute;
    top: 5px;
    left: -35px;
    width: 35px;
    height: 80px;;
    font-size: 30px;
    // line-height: 30px;
    cursor: pointer;
    background: $game-panel-bg;
    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .hover-opener {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: -1px;
    width: 1px;
    opacity: 0;
  }

  .panel-content {
    height: 100%;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;


    .chat-box {
      position: absolute;
      top: 150px;
      left: 15px;
      right: 10px;
      bottom: 5px;
      display: flex;
      flex-direction: column;
      .chat-history {
        flex: 0 1 100%;
        overflow: auto;
        border: 1px solid gray;
        border-radius: 4px;
        background: white;
        padding: 20px;

        .msg-bubble {
          .player-name { font-weight: bold; }
          .msg-text {            
            text-align: left;
            display: inline-block;
            border: 1px solid gray;
            background: honeydew;
            padding: 5px 10px;
            border-radius: 4px;
          }
          margin-bottom: 15px;
          &.is-you {
            // text-align: right;
            .msg-text {
              background: #fffcdd;
            }
          } 
        }

      }
      .text-input {
        margin: 10px 0;
        flex: 1 0 90px;
      }

    }

  }




}


bf-btn {
  margin: 0 0 5px 5px;
}