<div class="game-panel" [class.is-open]="isOpen" *ngIf="game.state" (mouseleave)="hoverToClose()">
  <div class="pin-btn flex-center" [class.is-open]="isOpen" (click)="clickToSwitch()">
    <span [class.hide]="isOpen && panelPinned"  class="icon-previous2"></span>
    <span [class.hide]="!isOpen || !panelPinned" class="icon-next2"></span>
  </div>

  <div class="panel-content" (click)="panelPinned = true">
    <!-- <div class="hover-opener" (mouseover)="hoverToOpen()"></div> -->
    <h1>Game</h1>
    <div class="text-right" style="margin-bottom: 20px;">
      <bf-btn *ngIf="!auth.isGuest" bfText="Exit Game" bfIcon="icon-esc" (bfClick)="exitGame()"></bf-btn>

      <!-- Debug Buttons -->
      <div *ngIf="false">
        <!-- <bf-btn (bfClick)="growl.success('test test');" bfText="GROWL" class="full-width"></bf-btn> -->
        <bf-btn (bfClick)="game.action('refresh')" bfText="REFRESH" ></bf-btn>
        <bf-btn (bfClick)="game.saveStateDebug()" bfText="SAVE STATE"></bf-btn>
        <bf-btn (bfClick)="game.loadStateDebug()" bfText="LOAD STATE"></bf-btn>
        <bf-btn *ngIf="!game.debugMode" (bfClick)="game.debugMode = true" bfText="Debug OFF"></bf-btn>
        <bf-btn *ngIf="game.debugMode" (bfClick)="game.debugMode = false" bfText="Debug ON" ></bf-btn>
        <bf-btn (bfClick)="game.debugPanel = !game.debugPanel"  bfText="Debug Panel"></bf-btn>
      </div>
    </div>
    

    <div class="chat-box">
      <h2>Chat</h2>
      <div class="chat-history" id="chatH" #chatHist>
        <div *ngFor="let msg of chatHistory" class="msg-bubble" [class.is-you]="msg.isYou">
          <div class="player-name">{{msg.isYou ? 'You' : playerBName}}:</div>
          <span class="msg-text" [innerHTML]="msg.text"></span>
        </div>
      </div>

      <bf-input class="text-input" bfLabel="New Message:" [bfAutoFocus]="true"
                [(ngModel)]="text" (bfOnEnter)="postChat(text)">
      </bf-input>
    </div>


  </div>






</div>