<div class="game" *ngIf="!!state">
  <div class="left-panel">
    <div class="player-B">

      <div class="left">
        <div class="deck">          
          <!-- <div class="deck-card">
            <img [src]="'/assets/images/cards/card_back.jpg'">
            <div class="deck-count">{{deckBCount}}</div>
          </div>
          <div class="grav-card" [class.empty]="!topGravB" (click)="graveyardPanel = graveyardPanel === 'B' ? null : 'B'">
            <img *ngIf="topGravB" [src]="'/assets/images/cards/' + topGravB.image">
            <img *ngIf="!topGravB" [src]="'/assets/images/cards/empty.png'">
          </div> -->
          <game-card [card]="null" from="deckB"
                     [back]="true"
                     [count]="deckBCount">
          </game-card>
          <game-card [card]="topGravB" from="gravB"
                    [class.empty]="!topGravB"
                    (click)="graveyardPanel = graveyardPanel === 'B' ? null : 'B'">
          </game-card>
        </div>
  
        <div class="life" 
             [class.is-selectable]="playerB.selectableAction || playerB.selectableTarget"
             (click)="selectPlayer(playerB)">
          <!-- Life: {{playerB.life}} -->
          {{playerB.name}}: {{playerB.life}}
        </div>
      </div>

      <div class="mana-pool">
        <div class="mana"> <img src="assets/images/Xmana.png">    <span>{{displayManaPool('B', 0)}}</span> </div>
        <div class="mana"> <img src="assets/images/blueMana.png"> <span>{{displayManaPool('B', 1)}}</span> </div>
        <div class="mana"> <img src="assets/images/whiteMana.png"><span>{{displayManaPool('B', 2)}}</span> </div>
        <div class="mana"> <img src="assets/images/blackMana.png"><span>{{displayManaPool('B', 3)}}</span> </div>
        <div class="mana"> <img src="assets/images/redMana.png">  <span>{{displayManaPool('B', 4)}}</span> </div>
        <div class="mana"> <img src="assets/images/greenMana.png"><span>{{displayManaPool('B', 5)}}</span> </div>
      </div>

    </div>



    <div class="full-card">
      <div class="card-border">
        <img [src]="'assets/images/cards/' + fullCardImg"/>
      </div>
    </div>

    <div class="player-A">
      <div class="left">
        <div class="life"
             [class.is-selectable]="playerA.selectableAction || playerA.selectableTarget"
             (click)="selectPlayer(playerA)">
          <!-- Life: {{playerA.life}} -->
          {{playerA.name}}: {{playerA.life}}
        </div>

        <div class="deck">
          <!-- <div class="deck-card" [class.selectable-card]="canIDraw" (click)="drawCard()">
            <img [src]="'/assets/images/cards/card_back.jpg'">
            <div class="deck-count">{{deckACount}}</div>
          </div> -->
          <game-card [card]="null" from="deckA"
                     [back]="true"
                     [count]="deckACount"
                     [class.selectable]="canIDraw"
                     (click)="drawCard()">
          </game-card>


          <!-- <div class="grav-card" [class.empty]="!topGravA" (click)="graveyardPanel = graveyardPanel === 'A' ? null : 'A'">
            <img *ngIf="topGravA" [src]="'/assets/images/cards/' + topGravA.image">
            <img *ngIf="!topGravA" [src]="'/assets/images/cards/empty.png'">
          </div> -->
          <game-card [card]="topGravA" from="gravA"
                     [class.empty]="!topGravA"
                     (click)="graveyardPanel = graveyardPanel === 'A' ? null : 'A'">
          </game-card>
        </div>

      </div>

      <div class="mana-pool" [class.selectable]="summonOp.status === 'selectingMana'">
        <div class="mana" (click)="selectManaPool('A', 0)"> <img src="assets/images/Xmana.png">    <span>{{displayManaPool('A', 0)}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 1)"> <img src="assets/images/blueMana.png"> <span>{{displayManaPool('A', 1)}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 2)"> <img src="assets/images/whiteMana.png"><span>{{displayManaPool('A', 2)}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 3)"> <img src="assets/images/blackMana.png"><span>{{displayManaPool('A', 3)}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 4)"> <img src="assets/images/redMana.png">  <span>{{displayManaPool('A', 4)}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 5)"> <img src="assets/images/greenMana.png"><span>{{displayManaPool('A', 5)}}</span> </div>
      </div>
    </div>

  </div>


  <!-- --------------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------------- -->


  <div class="board-panel">
    <div class="player-B" [class.in-waiting]="state.control === game.playerANum" [class.in-control]="state.control !== game.playerANum">
      <div class="phases-box">
        <div class="phase untap"       [class.selected]="phase === 'B.untap'">       <span class="icon-undo2"> </span></div>
        <div class="phase maintenance" [class.selected]="phase === 'B.maintenance'"> <span class="icon-hammer"></span></div>
        <div class="phase draw"        [class.selected]="phase === 'B.draw'">        <span class="icon-hand">  </span></div>
        <div class="phase pre-combat"  [class.selected]="phase === 'B.pre'">         <span class="icon-moon">  </span></div>
        <div class="phase combat"      [class.selected]="phase === 'B.combat'">      <span class="icon-sword"> </span></div>
        <div class="phase post-combat" [class.selected]="phase === 'B.post'">        <span class="icon-moon">  </span></div>
        <div class="phase discard"     [class.selected]="phase === 'B.discard'">     <span class="icon-hand">  </span></div>
        <div class="phase end"         [class.selected]="phase === 'B.end'">         <span class="icon-fire">  </span></div>
      </div>

      <div class="hand-box" [class.expanded]="isHandBExp">
        <div class="box-button" (click)="isHandBExp = !isHandBExp">
          <span>{{handB.length}}<span class="icon-hand"></span></span>
          <span [class.hide]="isHandBExp" class="icon-arrow-down22"></span>
          <span [class.hide]="!isHandBExp" class="icon-arrow-up22"></span>
        </div>
        <div *ngIf="!handB.length" class="no-cards">No Cards on the Hand</div>

        <!-- <div *ngFor="let card of handB" class="hand-card" [class.back-card]="true">
          <img [src]="'/assets/images/cards/card_back.jpg'">
        </div> -->
        <game-card *ngFor="let card of handB" [card]="card" from="handB" [back]="true"></game-card>
      </div>

      <div class="play-box"
           bfDropContainer
          (bfDrop)="moveCardPosition($event)" 
          (dblclick)="autoPositionGameCards()">
        <!-- <div *ngFor="let card of displayTableB"
              class="play-card"
              [class.selectable-card]="!!card.selectableAction || !!card.selectableTarget"
              [class.is-tapped]="card.isTapped"
              [class.is-sick]="card.status === 'sickness'"
              [style.left.px]="card.posX"
              [style.top.px]="card.posY"
              [style.z-index]="card.zInd"
              [bfDraggable]="card"
              (dragstart)="dragStart($event, card)"
              (click)="selectCardFromTable(card)"
              [hoverTip]="card.selectableAction?.text || ''"
              (mouseover)="hoverTableCard(card)"
              (mouseleave)="clearHover()">
          <img [src]="'/assets/images/cards/' + card.image">
          <span class="damage-points" *ngIf="card.turnDamage">
            <span>{{card.turnDamage}}</span>
            <span class="icon-power"></span>
          </span>
          <span class="attack-defense" *ngIf="card.type === 'creature'">{{card.turnAttack + '/' + card.turnDefense}}</span>
          <span class="effects-badge" *ngIf="card.effectsFrom?.length"
                (click)="selectEffectsBadge(card, $event)"          
                [hoverTip]="'There are ' + card.effectsFrom?.length + ' effects applied on this card'">
            <span>{{card.effectsFrom?.length}}</span>
          </span>
          <div *ngIf="game.debugMode" style="position: absolute; bottom: 30px; margin-left: 5px; color: white; background: black;">
            gId={{card.gId}}
            <br/>status={{card.status}}
            <br/>damage={{card.turnDamage}}
          </div>
        </div> -->
        <game-card *ngFor="let card of displayTableB" [card]="card" from="tbleB"
          [style.left.px]="card.posX"
          [style.top.px]="card.posY"
          [style.z-index]="card.zInd"
          [bfDraggable]="card"
          (dragstart)="dragStart($event, card)"
          (click)="selectCardFromTable(card)"
          (mouseenter)="game.hoverCard$.next(card)"
          (mouseleave)="game.hoverCard$.next(null)">
        </game-card>


        <!-- ----------------------------- Info Box ----------------------------- -->
        <div class="info-box">
          <bf-btn (bfClick)="skipPhase.skip()" [bfDisabled]="!skipPhase.enabled"
                  bfText="Next Phase" class="primary" bfIcon="icon-arrow-right3"
                  (mouseover)="itemInfo = skipPhase.enabled ? skipPhase.help : skipPhase.whyNot"
                  (mouseleave)="itemInfo = ''">
          </bf-btn>
          <bf-btn *ngFor="let gBtn of globalButtons" style="margin-left: 15px;"
                  [bfText]="gBtn.text" [bfIcon]="gBtn.icon" (bfClick)="gBtn.clickFn()">
          </bf-btn>
          <span [hidden]="!mainInfo || itemInfo" class="main-info">
            <span>{{mainInfo}}</span>
            <span *ngIf="summonOp.status === 'waitingMana'">
              <mana-array style="margin-left: 5px;" class="md" [mana]="summonOp.cast"></mana-array>
            </span>
          </span>
          <span [hidden]="!itemInfo" class="main-info">{{itemInfo}}</span>
        </div>
        <!-- -------------------------------------------------------------------- -->

      </div>

    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------------ -->
    <!-- <div class="info-box">
      <bf-btn (bfClick)="skipPhase()" bfText="Next Phase"  bfIcon="icon-arrow-right3"></bf-btn>
    </div> -->
    <!-- ------------------------------------------------------------------------------------------------------------------------ -->

    <div class="player-A" [class.in-waiting]="state.control !== game.playerANum" [class.in-control]="state.control === game.playerANum">


      <div class="phases-box">
        <div class="phase untap"       [class.selected]="phase === 'A.untap'">       <span class="icon-undo2"> </span></div>
        <div class="phase maintenance" [class.selected]="phase === 'A.maintenance'"> <span class="icon-hammer"></span></div>
        <div class="phase draw"        [class.selected]="phase === 'A.draw'">        <span class="icon-hand">  </span></div>
        <div class="phase pre-combat"  [class.selected]="phase === 'A.pre'">         <span class="icon-moon">  </span></div>
        <div class="phase combat"      [class.selected]="phase === 'A.combat'">      <span class="icon-sword"> </span></div>
        <div class="phase post-combat" [class.selected]="phase === 'A.post'">        <span class="icon-moon">  </span></div>
        <div class="phase discard"     [class.selected]="phase === 'A.discard'">     <span class="icon-hand">  </span></div>
        <div class="phase end"         [class.selected]="phase === 'A.end'">         <span class="icon-fire">  </span></div>
      </div>

      <div class="hand-box" [class.expanded]="isHandAExp">
        <div class="box-button" (click)="isHandAExp = !isHandAExp">
          <span>{{handA.length}}<span class="icon-hand"></span></span>
          <span [class.hide]="isHandAExp" class="icon-arrow-down22"></span>
          <span [class.hide]="!isHandAExp" class="icon-arrow-up22"></span>
        </div>
        <div *ngIf="!handA.length" class="no-cards">No Cards on your Hand</div>        
        <!-- <div *ngFor="let card of handA" 
             class="hand-card"
             [class.selectable-card]="isHandCardSelectable(card)"
             [class.is-summoning]="!!card.status"
             (click)="selectCardFromYourHand(card)"
             [hoverTip]="card.selectableAction?.text || ''"
             (mouseover)="hoverHandCard(card)"
             (mouseleave)="clearHover()">
          <img [src]="'/assets/images/cards/' + card.image">
          <div *ngIf="game.debugMode" style="position: absolute; bottom: 60px; margin-left: 5px; color: white; background: black;">
            gId={{card.gId}}
            <br/>status={{card.status}}
            <br/>combatStatus={{card.combatStatus}}
          </div>
        </div> -->
        <game-card *ngFor="let card of handA"  [card]="card" from="handA"
          (click)="selectCardFromYourHand(card)"
          [hoverTip]="card.selectableAction?.text || ''"
          (mouseenter)="game.hoverCard$.next(card)"
          (mouseleave)="game.hoverCard$.next(null)">
        </game-card>
      </div>

      <div class="play-box"
           bfDropContainer
           (bfDrop)="moveCardPosition($event)" 
           (dblclick)="autoPositionGameCards()">

        <!-- isDragging={{bfDnD.isDragging}} -->
        <!-- activeContainer={{bfDnD.activeContainer | json}} -->
        <!-- <div *ngFor="let card of displayTableA" 
             class="play-card"
             [class.selectable-card]="!!card.selectableAction || !!card.selectableTarget"
             [class.is-tapped]="card.isTapped"
             [class.is-sick]="card.status === 'sickness'"
             [class.is-selected-attack]="card.combatStatus === 'combat:attacking'"
             [class.is-selected-defense]="card.combatStatus === 'combat:defending'"
             [style.left.px]="card.posX"
             [style.top.px]="card.posY"
             [style.z-index]="card.zInd"
             [bfDraggable]="card"             
             (dragstart)="dragStart($event, card)"
             (click)="selectCardFromTable(card)"
             [hoverTip]="card.selectableAction?.text || ''" tipId="card"
             (mouseover)="hoverTableCard(card)"
             (mouseleave)="clearHover()">
          <img [src]="'/assets/images/cards/' + card.image">
          <span class="damage-points" *ngIf="card.turnDamage">
            <span>{{card.turnDamage}}</span>
            <span class="icon-power"></span>
          </span>
          <span class="attack-defense" *ngIf="card.type === 'creature'">{{card.turnAttack + '/' + card.turnDefense}}</span>
          <span class="effects-badge" *ngIf="card.effectsFrom?.length"
                (click)="selectEffectsBadge(card, $event)"
                [hoverTip]="'There are ' + card.effectsFrom?.length + ' effects applied on this card'" tipId="badge">
            <span>{{card.effectsFrom?.length}}</span>
          </span>

          <div *ngIf="game.debugMode" style="position: absolute; bottom: 30px; margin-left: 5px; color: white; background: black;">
            gId={{card.gId}}
            <br/>status={{card.status}}
            <br/>combatStatus={{card.combatStatus}}
            <br/>damage={{card.turnDamage}}
          </div>
        </div> -->
        <game-card *ngFor="let card of displayTableA" [card]="card" from="tbleA"
          [style.left.px]="card.posX"
          [style.top.px]="card.posY"
          [style.z-index]="card.zInd"
          [bfDraggable]="card"
          (dragstart)="dragStart($event, card)"
          (click)="selectCardFromTable(card)"
          (mouseenter)="game.hoverCard$.next(card)"
          (mouseleave)="game.hoverCard$.next(null)">
        </game-card>

      </div>

    </div>
  </div>

  <!-- Graveyard Panel -->
  <panel-graveyard *ngIf="graveyardPanel"
    [playerLetter]="graveyardPanel"
    (selectCard)="selectCard($event)"
    (end)="graveyardPanel = null">
  </panel-graveyard>


  <!-- Generic Dialog -->
  <div *ngIf="dialog" class="dialog-box" [class]="dialog.type" 
      [style.background]="dialog.background" [style.color]="dialog.color">
    <h2 *ngIf="dialog.title">{{dialog.title}}</h2>
    <h3 *ngIf="dialog.icon"><span [class]="dialog.icon"></span></h3>
    <p *ngIf="dialog.text" [innerHtml]="dialog.text"></p>
    <div class="dialog-btn-box">
      <div *ngFor="let button of dialog.buttons">
        <bf-btn [bfText]="button.text" [class]="button.class" bfIcon="icon-arrow-right3" (click)="button.action()"></bf-btn>
      </div>
    </div>
  </div>

  <!-- Dialog: Selecting Mana (cherry pick on summoning) -->
  <dialog-selecting-mana 
    *ngIf="summonOp.status === 'selectingMana'" 
    [summonOp]="summonOp">
  </dialog-selecting-mana>

  <dialog-combat 
    *ngIf="combatPanel"
    [attacker]="combatPanelAttacker"    
    (selectCard)="selectCard($event)"
    (end)="combatPanel = false">
  </dialog-combat>

  <!-- Effects Floating Panel -->
  <panel-effects *ngIf="effectsPanelCard"
    [card]="effectsPanelCard"
    (selectCard)="selectCard($event)"
    (end)="effectsPanelCard = null">
  </panel-effects>


  <dialog-spell-stack 
    *ngIf="spellStackPanel"
    [panelSize]="spellStackPanelSize"
    (selectCard)="selectCard($event)"
    (selectPlayer)="selectPlayer($event)"
    (end)="spellStackPanel = false" >
  </dialog-spell-stack>
  <!-- spellStackPanelSize={{spellStackPanelSize}} -->
  <!-- panel={{panel}} -->




</div>




<!-- Debug Panel -->
<div *ngIf="game.state && game.debugPanel" style="position: fixed; top: 90px; left: 500px; background: lightgray; padding: 10px; z-index: 2000; right: 10px; bottom: 10px;">
  <div>
    <br/>You are player={{game.playerANum}}
    <br/>
    <span>control={{game.state.control}} ====> {{(game.state.control === game.playerANum ? 'YOU' : 'Opponent') + ' (player ' + game.state.control + ') got control'}}</span>
    <br/>phase$={{game.state.phase}}
    <br/>subPhase={{game.state.subPhase}}
    <!-- <br/>options = {{state.options | json}} -->
    <br/>
    <div *ngIf="summonOp.status !== 'off'">
      summonOp - status = {{summonOp.status}}
      <br/>action={{summonOp.action | json}}
      <br/>params={{summonOp.params | json}}
      <br/>text = {{summonOp.text}}
      <br/>manaReserved={{summonOp.manaReserved | json}}
      <br/>manaLeft={{summonOp.manaLeft | json}}
      <br/><bf-btn (bfClick)="summonOp.cancel()" bfText="Cancel"></bf-btn>
      <bf-btn style="margin-left: 15px;" (bfClick)="summonOp.tryToSummon()" bfText="tryToSummon"
              [bfDisabled]="!summonOp.showSummonBtn"></bf-btn>
    </div>
  </div>
  
  <div style="display: flex; margin-top: 30px;">
    <div *ngFor="let location of debugLocations">
      <div style="padding: 5px; border: 1px solid gray;" *ngIf="cardFilter(location) as list">
        <div><b>Cards in "{{location}}" ({{list.length}})</b></div>
        <div *ngFor="let card of list" style="cursor: pointer;" (click)="debugCard(card)">{{card.gId}} - {{card.name}}</div>
      </div>  
    </div>
  </div>

</div>


<game-panel></game-panel>