<div class="game" *ngIf="!!state">
  <div class="left-panel">
    <div class="player-B">

      <div class="left">
        <div class="deck">
          <game-card [card]="null" from="deckB"
                     [back]="true"
                     [selectable]="false"
                     [count]="deckBCount">
          </game-card>
          <game-card [card]="topGravB" from="gravB"
                    [class.empty]="!topGravB"
                    [selectable]="false"
                    (click)="graveyardPanel = graveyardPanel === 'B' ? null : 'B'">
          </game-card>
        </div>
  
        <div class="life" 
            (mouseleave)="itemInfo = ''"
            (mouseenter)="itemInfo = 'Select target player (opponent)'"
            [class.is-selectable]="isPlayerSelectable(playerB.num)"
            (click)="selectPlayer(playerB.num)">
          <!-- Life: {{playerB.life}} -->
          {{playerB.name}}: {{playerB.life}}
        </div>
      </div>

      <div class="mana-pool">
        <div class="mana"> <img src="assets/images/Xmana.png">    <span>{{playerB.manaPool[0]}}</span> </div>
        <div class="mana"> <img src="assets/images/blueMana.png"> <span>{{playerB.manaPool[1]}}</span> </div>
        <div class="mana"> <img src="assets/images/whiteMana.png"><span>{{playerB.manaPool[2]}}</span> </div>
        <div class="mana"> <img src="assets/images/blackMana.png"><span>{{playerB.manaPool[3]}}</span> </div>
        <div class="mana"> <img src="assets/images/redMana.png">  <span>{{playerB.manaPool[4]}}</span> </div>
        <div class="mana"> <img src="assets/images/greenMana.png"><span>{{playerB.manaPool[5]}}</span> </div>
      </div>

    </div>



    <div class="full-card" (window:resize)="calcFullCardSize()">
      <div class="card-border">
        <img #fullCardEl [src]="'assets/images/cards/' + fullCard.img"
             [class.black-border]="fullCard.border === 'black'"
             [style.border-width.px]="fullCard.borderWidth"
             [style.border-radius.px]="fullCard.borderRadius"/>
      </div>
    </div>

    <div class="player-A">
      <div class="left">
        <div class="life" 
             (mouseleave)="itemInfo = ''"
             (mouseenter)="itemInfo = 'Select target player (you)'"
             [class.is-selectable]="isPlayerSelectable(playerA.num)"
             (click)="selectPlayer(playerA.num)">
          <!-- Life: {{playerA.life}} -->
          {{playerA.name}}: {{playerA.life}}
        </div>

        <div class="deck">
          <game-card [card]="null" from="deckA"
                     [back]="true"
                     [count]="deckACount"
                     [selectable]="canIDraw"
                     (click)="drawCard()">
          </game-card>
          <game-card [card]="topGravA" from="gravA"
                     [class.empty]="!topGravA"
                     [selectable]="false"
                     (click)="graveyardPanel = graveyardPanel === 'A' ? null : 'A'">
          </game-card>
        </div>

      </div>

      <div class="mana-pool" [class.selectable]="cardOp.status === 'selectingMana' || cardOp.status === 'waitingExtraMana'">
        <div class="mana" (click)="selectManaPool('A', 0)"> <img src="assets/images/Xmana.png">    <span>{{cardOp.manaToDisplay[0]}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 1)"> <img src="assets/images/blueMana.png"> <span>{{cardOp.manaToDisplay[1]}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 2)"> <img src="assets/images/whiteMana.png"><span>{{cardOp.manaToDisplay[2]}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 3)"> <img src="assets/images/blackMana.png"><span>{{cardOp.manaToDisplay[3]}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 4)"> <img src="assets/images/redMana.png">  <span>{{cardOp.manaToDisplay[4]}}</span> </div>
        <div class="mana" (click)="selectManaPool('A', 5)"> <img src="assets/images/greenMana.png"><span>{{cardOp.manaToDisplay[5]}}</span> </div>
      </div>
    </div>

  </div>


  <!-- --------------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------------- -->
  <!-- --------------------------------------------------------------------------------------------- -->


  <div class="board-panel">
    <div class="player-B" [class.in-waiting]="state.control === game.playerANum" [class.in-control]="state.control !== game.playerANum">
      <div class="phases-box">
        <div class="phase untap"       [class.selected]="phase === 'B.untap'">       <span class="icon-undo2"> </span></div>
        <div class="phase maintenance" [class.selected]="phase === 'B.maintenance'"> <span class="icon-hammer"></span></div>
        <div class="phase draw"        [class.selected]="phase === 'B.draw'">        <span class="icon-hand">  </span></div>
        <div class="phase pre-combat"  [class.selected]="phase === 'B.pre'">         <span class="icon-moon">  </span></div>
        <div class="phase combat"      [class.selected]="phase === 'B.combat'">      <span class="icon-sword"> </span></div>
        <div class="phase post-combat" [class.selected]="phase === 'B.post'">        <span class="icon-moon">  </span></div>
        <div class="phase discard"     [class.selected]="phase === 'B.discard'">     <span class="icon-hand">  </span></div>
        <div class="phase end"         [class.selected]="phase === 'B.end'">         <span class="icon-fire">  </span></div>
      </div>

      <div class="hand-box" [class.expanded]="isHandBExp">
        <div class="box-button" (click)="isHandBExp = !isHandBExp">
          <span>{{handB.length}}<span class="icon-hand"></span></span>
          <span [class.hide]="isHandBExp" class="icon-arrow-down22"></span>
          <span [class.hide]="!isHandBExp" class="icon-arrow-up22"></span>
        </div>
        <div *ngIf="!handB.length" class="no-cards">No Cards on the Hand</div>
        <game-card *ngFor="let card of handB" [card]="card" from="handB" [back]="true"></game-card>
      </div>

      <!-- bfDropContainer (bfDrop)="moveCardPosition($event)"  -->
      <div class="play-box" (dblclick)="autoPositionGameCards()">

        <!-- [bfDraggable]="card" (dragstart)="dragStart($event, card)" -->
        <game-card *ngFor="let card of displayTableB" [card]="card" from="tbleB"
          [style.left.px]="card.posX"
          [style.top.px]="card.posY"
          [style.z-index]="card.zInd"
          (click)="selectCardFromTable(card)"
          (mouseenter)="game.hoverCard$.next(card)"
          (mouseleave)="game.hoverCard$.next(null)">
        </game-card>


        <!-- ----------------------------- Info Box ----------------------------- -->
        <div class="info-box">
          <bf-btn (bfClick)="skipPhase.skip()" [bfDisabled]="!skipPhase.enabled"
                  bfText="Next Phase" class="primary" bfIcon="icon-arrow-right3"
                  (mouseover)="itemInfo = skipPhase.enabled ? skipPhase.help : skipPhase.whyNot"
                  (mouseleave)="itemInfo = ''">
          </bf-btn>
          <bf-btn *ngFor="let gBtn of globalButtons"
                  [bfText]="gBtn.text" [bfIcon]="gBtn.icon" (bfClick)="gBtn.clickFn()">
          </bf-btn>
          <bf-btn *ngIf="cardOp.status" [bfText]="'Cancel ' + cardOp.card?.name" 
                  bfIcon="icon-cross" (bfClick)="cardOp.cancel()">
          </bf-btn>
          <span class="main-info" *ngIf="mainInfo && !opInfo && !itemInfo">{{mainInfo}}</span>
          <span class="main-info" *ngIf="opInfo && !itemInfo">
            <span>{{opInfo}}</span>
            <span *ngIf="cardOp.status === 'waitingMana'">
              <mana-array style="margin-left: 5px;" class="md" [mana]="cardOp.manaNeeded"></mana-array>
            </span>
          </span>
          <span class="main-info" *ngIf="itemInfo">{{itemInfo}}</span>
        </div>
        <!-- -------------------------------------------------------------------- -->

      </div>

    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------------ -->
    <!-- <div class="info-box">
      <bf-btn (bfClick)="skipPhase()" bfText="Next Phase"  bfIcon="icon-arrow-right3"></bf-btn>
    </div> -->
    <!-- ------------------------------------------------------------------------------------------------------------------------ -->

    <div class="player-A" [class.in-waiting]="state.control !== game.playerANum" [class.in-control]="state.control === game.playerANum">


      <div class="phases-box">
        <div class="phase untap"       [class.selected]="phase === 'A.untap'">       <span class="icon-undo2"> </span></div>
        <div class="phase maintenance" [class.selected]="phase === 'A.maintenance'"> <span class="icon-hammer"></span></div>
        <div class="phase draw"        [class.selected]="phase === 'A.draw'">        <span class="icon-hand">  </span></div>
        <div class="phase pre-combat"  [class.selected]="phase === 'A.pre'">         <span class="icon-moon">  </span></div>
        <div class="phase combat"      [class.selected]="phase === 'A.combat'">      <span class="icon-sword"> </span></div>
        <div class="phase post-combat" [class.selected]="phase === 'A.post'">        <span class="icon-moon">  </span></div>
        <div class="phase discard"     [class.selected]="phase === 'A.discard'">     <span class="icon-hand">  </span></div>
        <div class="phase end"         [class.selected]="phase === 'A.end'">         <span class="icon-fire">  </span></div>
      </div>

      <div class="hand-box" [class.expanded]="isHandAExp">
        <div class="box-button" (click)="isHandAExp = !isHandAExp">
          <span>{{handA.length}}<span class="icon-hand"></span></span>
          <span [class.hide]="isHandAExp" class="icon-arrow-down22"></span>
          <span [class.hide]="!isHandAExp" class="icon-arrow-up22"></span>
        </div>
        <div *ngIf="!handA.length" class="no-cards">No Cards on your Hand</div>

        <game-card *ngFor="let card of handA"  [card]="card" from="handA"
          (click)="selectCardFromYourHand(card)"
          [hoverTip]="card.selectableAction?.text || ''"
          (mouseenter)="game.hoverCard$.next(card)"
          (mouseleave)="game.hoverCard$.next(null)">
        </game-card>
      </div>

      <!-- bfDropContainer (bfDrop)="moveCardPosition($event)" -->
      <div class="play-box" (dblclick)="autoPositionGameCards()">

        <!-- [bfDraggable]="card" (dragstart)="dragStart($event, card)" -->
        <game-card *ngFor="let card of displayTableA" [card]="card" from="tbleA"
          [style.left.px]="card.posX"
          [style.top.px]="card.posY"
          [style.z-index]="card.zInd"
          (click)="selectCardFromTable(card)"
          (mouseenter)="game.hoverCard$.next(card)"
          (mouseleave)="game.hoverCard$.next(null)">
        </game-card>

      </div>

    </div>
  </div>

  <!-- Graveyard Panel -->
  <panel-graveyard *ngIf="graveyardPanel"
    [playerLetter]="graveyardPanel"
    (selectCard)="selectCard($event)"
    (end)="graveyardPanel = null">
  </panel-graveyard>


  <!-- Generic Dialog -->
  <div *ngIf="dialog" class="dialog-box" [class]="dialog.type" 
      [style.background]="dialog.background" [style.color]="dialog.color">
    <h2 *ngIf="dialog.title">{{dialog.title}}</h2>
    <h3 *ngIf="dialog.icon"><span [class]="dialog.icon"></span></h3>
    <p *ngIf="dialog.text" [innerHtml]="dialog.text"></p>
    <div class="dialog-btn-box">
      <div *ngFor="let button of dialog.buttons">
        <bf-btn [bfText]="button.text" [class]="button.class" bfIcon="icon-arrow-right3" (click)="button.action()"></bf-btn>
      </div>
    </div>
  </div>


  <dialog-combat 
    *ngIf="combatPanel"
    [attacker]="combatPanelAttacker"    
    (selectCard)="selectCard($event)"
    (end)="combatPanel = false">
  </dialog-combat>


  <!-- Dialog: Selecting Mana (cherry pick on summoning) -->
  <dialog-selecting-mana *ngIf="cardOp.status === 'selectingMana'"></dialog-selecting-mana>


  <dialog-spell-stack 
    *ngIf="spellStackPanel"
    [panelSize]="spellStackPanelSize"
    (selectCard)="selectCard($event)"
    (end)="spellStackPanel = false" >
  </dialog-spell-stack>
  <!-- spellStackPanelSize={{spellStackPanelSize}} -->
  <!-- panel={{panel}} -->

  <dialog-regenerate *ngIf="regenerateCreature"></dialog-regenerate>

  <!-- Dialog: Selecting Extra Mana (for cards with X cost) -->
  <dialog-selecting-extra-mana *ngIf="cardOp.status === 'waitingExtraMana'"></dialog-selecting-extra-mana>

  <!-- Effects Floating Panel -->
  <panel-effects *ngIf="effectsPanelCard"
    [card]="effectsPanelCard"
    (selectCard)="selectCard($event)"
    (end)="effectsPanelCard = null">
  </panel-effects>

  <!-- Custom Card Dialogs -->
  <black-lotus-dialog *ngIf="customDialogs['BlackLotus']" [card]="customDialogs['BlackLotus']"></black-lotus-dialog>
  <dual-land-dialog   *ngIf="customDialogs['Bayou']"           [card]="customDialogs['Bayou']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['Badlands']"        [card]="customDialogs['Badlands']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['Plateau']"         [card]="customDialogs['Plateau']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['Savannah']"        [card]="customDialogs['Savannah']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['Scrubland']"       [card]="customDialogs['Scrubland']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['Taiga']"           [card]="customDialogs['Taiga']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['TropicalIsland']"  [card]="customDialogs['TropicalIsland']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['Tundra']"          [card]="customDialogs['Tundra']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['UndergroundSea']"  [card]="customDialogs['UndergroundSea']"></dual-land-dialog>
  <dual-land-dialog   *ngIf="customDialogs['VolcanicIsland']"  [card]="customDialogs['VolcanicIsland']"></dual-land-dialog>
</div>

<!-- Debug Panel for cardOp -->
<div *ngIf="game.state && cardOp.status" style="position: fixed; top: 400px; left: 10px; background: lightgray; padding: 10px; z-index: 2000; font-family: monospace;">
  cardOp
  <br/>status = {{cardOp.status}}
  <br/>action = {{cardOp.action | json}}
  <br/>manaPool.......{{cardOp.manaPool | json}}
  <br/>manaAvailable..{{cardOp.manaAvailable | json}}  
  <br/>manaToDisplay..{{cardOp.manaToDisplay | json}}  
  <br/>manaCost.......{{cardOp.manaCost | json}}
  <br/>manaNeeded.....{{cardOp.manaNeeded | json}}
  <br/>params=
  <br/>manaToUse......{{cardOp.params.manaToUse | json}}
  <br/>manaForUncolor.{{cardOp.params.manaForUncolor | json}}
  <br/>manaExtra......{{cardOp.params.manaExtra | json}}
  <br/>----
  <br/>isExtraManaReady = {{cardOp.params.isExtraManaReady | json}}
  <br/>targets = {{cardOp.params.targets | json}}

  <!-- <br/><bf-btn (bfClick)="cardOp.cancel()" bfText="Cancel"></bf-btn> -->
  <!-- <bf-btn style="margin-left: 15px;" (bfClick)="cardOp.tryToExecute()" bfText="tryToSummon"
          [bfDisabled]="!cardOp.showSummonBtn"></bf-btn> -->
</div>


<!-- Debug Panel -->
<div *ngIf="game.state && game.debugPanel" style="position: fixed; top: 90px; left: 500px; background: lightgray; padding: 10px; z-index: 2000; right: 10px; bottom: 10px;">
  <div>
    <br/>You are player={{game.playerANum}}
    <br/>
    <span>control={{game.state.control}} ====> {{(game.state.control === game.playerANum ? 'YOU' : 'Opponent') + ' (player ' + game.state.control + ') got control'}}</span>
    <br/>phase$={{game.state.phase}}
    <br/>subPhase={{game.state.subPhase}}
  </div>  
  <div style="display: flex; margin-top: 30px;">
    <div *ngFor="let location of debugLocations">
      <div style="padding: 5px; border: 1px solid gray;" *ngIf="cardFilter(location) as list">
        <div><b>Cards in "{{location}}" ({{list.length}})</b></div>
        <div *ngFor="let card of list" style="cursor: pointer;" (click)="debugCard(card)">{{card.gId}} - {{card.name}}</div>
      </div>  
    </div>
  </div>

</div>


<game-panel></game-panel>