@import 'game.vars.scss';


.game {

  .left-panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--left-panel-width);
    background: $gray-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .full-card {
      padding: 10px;
      .card-border {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img { 
          height: 100%;
          width: 100%;
          max-width: 410px;
          border: 10px solid white;
          border-radius: 14px;
        }
      }
    }

    .player-A, .player-B {
      flex: 1;
      background: $gray-dark;
      border: 1px solid $gray-light;
      display: flex;

      .left {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        .deck {
          padding: 5px;
          background-color: $gray-light;
          display: flex;
          justify-content: space-between;
          game-card {
            &.selectable { cursor: pointer; }
          }
          // .deck-card, .grav-card {
          //   padding: 3px;
          //   position: relative;
          //   border: 1px solid black;
          //   background: white;
          //   border-radius: 5px;
          //   cursor: pointer;
          //   img { max-height: 200px; }
          //   &.empty { background-color: black; }
          //   &.deck-card { background-color: black; }
          //   &.grav-card { opacity: 0.5; }
          //   .deck-count {
          //     position: absolute;
          //     bottom: 32px;
          //     left: 0;
          //     right: 0;
          //     text-align: center;
          //     font-size: 30px;
          //     color: rgba(255, 255, 255, 0.5);
          //   }
          // }
        }
        .life {
          flex: 1;
          align-items: center;
          color: $white-dark;
          font-size: 60px;
          display: flex;
          justify-content: center;
          &.is-selectable {
            cursor: pointer;
            transition-duration: 0.4s;
            // box-shadow: 0px 0px 5px 3px #009688;
            background: #00968852;            
            &:hover { background: #009688; }
          }
        }
      }

      .mana-pool {
        flex: 0 1 113px;
        background: $gray-dark;
        border-left: 1px solid $gray-light;
        display: flex;
        flex-direction: column;        
        .mana {
          flex: 1;
          border-top: 1px solid $gray-light;
          &:first-child { margin-top: -1px; }
          padding: 0 2px;
          display: flex;
          align-items: center;
          img { 
            flex: 0 1 auto;
            height: 30px;
            padding: 0 8px;
          }
          span {
            flex: 1 0 auto; 
            text-align: center;
            font-size: 30px;
            color: $white-dark;
            font-weight: bold;
            // margin-right: 4px;
          }
        }
        &.selectable .mana { cursor: pointer; }
      }

    }
  }

  // --------------------------------------------------------------

  .board-panel {
    position: absolute;
    left: var(--left-panel-width);
    right: 0;
    top: 0;
    bottom: 0;
    background-color: azure;

    display: flex;
    flex-direction: column;
    .player-A, .player-B {
      flex: 1;
      position: relative;      
      .phases-box {
        background-color: $gray-dark;
        position: absolute;
        width: 60px;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.5px 5px;
        .phase {
          flex: 1;
          font-size: 40px;
          text-align: center;
          border: 1px solid $gray-light;
          border-radius: 3px;
          margin: 2.5px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &.post-combat { transform: rotate(180deg); }
          &.discard { transform: rotate(180deg); }
          &.selected { background-color: $white-dark; }
        }
      }

      .hand-box {
        z-index: 1000;
        border: 1px solid $gray-dark;
        position: absolute;        
        left: 65px;
        padding: 5px;
        min-width: 160px;        
        background: #9ba5a5;
        transform-origin: top;
        transition: transform 350ms cubic-bezier(.05,.5,.2,.9);

        .box-button {
          position: absolute;
          background-color: #9ba5a5;
          border: 1px solid black;          
          left: -1px;
          width: 80px;
          height: 30px;
          text-align: center;
          font-size: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px 0 5px;
          .icon-hand { margin-left: 3px; font-size: 16px; }
        }

        .no-cards {
          width: 100%;
          text-align: center;
          color: $gray-light;
          font-size: 20px;
          padding: 30% 0;
          min-height: 220px;
          max-width: 135px;
        }

        display: flex;
        game-card { margin: 2.5px 4px; }
        // .hand-card {
        //   flex: 1;
        //   margin: 2.5px 4px;
        //   padding: 3px;
        //   border: 1px solid black;
        //   background: white;
        //   border-radius: 5px;
        //   &.back-card { background-color: black; border: none; margin: 3.5px 5px; }
        //   img { max-height: 200px; }
        //   transition-duration: 150ms;
        // }
      }

      .play-box {
        position: absolute;
        left: 60px;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 15px;
        game-card { position: absolute; }
        // .play-card {
        //   position: absolute;
        //   margin: 2.5px 4px;
        //   padding: 3px;
        //   border: 1px solid black;
        //   background: white;
        //   border-radius: 5px;
        //   img { max-height: 160px; }
        //   .damage-points {
        //     position: absolute;
        //     left: calc(50% - 30px);
        //     top: 20px;
        //     font-size: 60px;
        //     font-weight: 600;
        //     -webkit-text-stroke: 2px #fff;
        //     color: red;
        //     .icon-power { font-size: 30px; }
        //   }
        //   .attack-defense {
        //     position: absolute;
        //     right: 9px;
        //     bottom: -5px;
        //     text-align: center;
        //     font-size: 40px;
        //     font-weight: 600;
        //     -webkit-text-stroke: 2px #000000;
        //     color: #ffffff;
        //   }
        //   .effects-badge {
        //     position: absolute;
        //     right: 0;
        //     left: 0;
        //     top: -12px;
        //     text-align: center;
        //     span {
        //       font-size: 16px;
        //       font-weight: 500;
        //       color: #ffffff;
        //       background: orange;
        //       border-radius: 4px;
        //       padding: 2px 12px;
        //       cursor: pointer;
        //     }
        //   }
        // }
      }

    }
    .player-B {
      border-bottom: 2px solid $gray-light;
    }
    .info-box {
      position: absolute;
      bottom: 0;
      left: 0;
      // right: 0;
      padding: 5px;
      background: rgba(179, 179, 179, 0.3);
      display: flex;
      align-items: center;
      border-top-right-radius: 6px;
      z-index: 600;
      box-shadow: 3px -4px 5px 1px rgb(97 97 97 / 18%);
      background: rgb(235 235 235);
      .main-info {
        margin: 0 15px;
        display: flex;
        align-items: center;
      }
    }

    .player-B {
      &.in-control { background-color: $player-in-control-bg; }
      &.in-waiting { background-color: $player-in-waiting-bg; }
      .hand-box {
        top: -221px;
        &.expanded { transform: translateY(220px); }
        border-bottom-right-radius: 5px;
        .box-button {
          bottom: -30px;
          border-top: none;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .play-box {
        bottom: 0;
      }
    }

    .player-A {
      &.in-control { background-color: $player-in-control-bg; }
      &.in-waiting { background-color: $player-in-waiting-bg; }
      .hand-box {
        bottom: -221px;
        &.expanded { transform: translateY(-220px); }
        border-top-right-radius: 5px;
        .box-button {
          top: -30px;
          padding-top: 2px;
          border-bottom: none;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }

  }
}

// .selectable-card {
//   cursor: pointer;
//   box-shadow: 0px 0px 3px 3px #009688;
//   &:hover {
//     // background-color: #00ff2d75 !important;
//     // border-color: #00ff2d75 !important;
//     box-shadow: 0px 0px 3px 3px #FFEB3B;
//   }
// }

// .play-card.is-tapped {
//   // transform-origin: center;
//   margin-left: 30px !important;
//   transform: rotate(90deg);
// }
// .play-card.is-sick { // for summon sickness (creatures)
//   opacity: 0.35;
// }
// .play-card.is-selected-attack, .play-card.is-selected-defense { // when combat
//   display: none;
// }

// .hand-card.is-summoning {
//   opacity: 0.5;
//   transform: translateY(-20px);
// }




// ---------------- Dragging Styles ---------------
.play-card.is-dragging { opacity: 0; }
.bf-drag-ghost {
  .play-card {
    padding: 3px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    img { max-height: 160px; }
    &.is-tapped { max-width: 122px; }
  }
}


// ----- Smaller resolutions resize -----------
.game.md {
  .left-panel {
    width: 300px;
    .full-card .card-border img { max-width: 270px; border-width: 8px; border-radius: 12px; }
    .player-A, .player-B {
      .left {
        .deck img { max-height: 130px; }
        .life { font-size: 40px; }
      }
      .mana-pool .mana {
        img { height: 24px; }
        span { font-size: 18px; }        
      }      
    }
  }
  .board-panel { left: 300px; }
}


.dialog-box {
  position: fixed;
  z-index: 1000;
  &.lg {
    top: 100px;
    left: 550px;
    right: 50px;
    bottom: 150px;
  }
  &.md {
    top: calc(50% - 300px);
    left: calc(50% - 400px);
    right: calc(50% - 400px);
    bottom: calc(50% - 200px);
  }
  &.sm {
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    right: calc(50% - 300px);
    bottom: calc(50% - 100px);
  }
  background: honeydew;
  border: 1px solid #737373;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 11px 9px 15px 2px #676767;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 { font-size: 35px; } // title
  h3 { font-size: 60px; } // icon
  .dialog-btn-box {
    text-align: right;
  }
}





.center { display: flex; justify-content: center; }
.v-align { display: flex; align-items: center; }
.flex-1 { flex: 1; }