<span class="mana" *ngIf="mana === 0"> <img src="assets/images/oneMana.png">  </span>
<span class="mana" *ngIf="mana === 1"> <img src="assets/images/blueMana.png"> </span>
<span class="mana" *ngIf="mana === 2"> <img src="assets/images/whiteMana.png"></span>
<span class="mana" *ngIf="mana === 3"> <img src="assets/images/blackMana.png"></span>
<span class="mana" *ngIf="mana === 4"> <img src="assets/images/redMana.png">  </span>
<span class="mana" *ngIf="mana === 5"> <img src="assets/images/greenMana.png"></span>