h2 { padding: 15px 15px 0 15px; }

.page {
  padding: 0 15px 15px 30px;
  // height: 100%;
  // display: flex;


  .filters {
    display: flex;
    align-items: center;
    bf-checkbox + bf-checkbox  { margin-left: 45px; }
    .right-btn { flex: 1; text-align: right; }
  }
}
