<h1>Games Room</h1>

<div style="padding: 40px 0;">
  <button style="font-size: 30px;" (click)="createNewGame()">CREATE NEW GAME</button>
</div>

<ul>
  <li *ngFor="let game of games$ | async" class="d-flex">
    <button class="flex-1 mr-5" (click)="goToGame(game.id)">GO TO THE GAME</button>
    <button class="flex-1 mr-5" (click)="resetGame(game.id)">RESET GAME</button>
    <div class="flex-1">{{game.id}}</div>
    <div class="flex-3">Created: {{game['created']}}</div>
    <div class="flex-1">Status: {{game['status']}}</div>
    <div class="flex-2">Player 1: {{game.player1.name}}</div>
    <div class="flex-2">Player 2: {{game.player2.name}}</div>
  </li>
</ul>