<div class="selecting-mana" [class.minimized]="cardOp.minimized">
  <div class="min-btn" (click)="cardOp.minimized = !cardOp.minimized">{{cardOp.minimized ? cardOp.title : '-'}}</div>
  <h2>{{cardOp.title}}</h2>
  <div class="center" *ngIf="cardOp.card">
    <game-card [card]="cardOp.card" from="panelSelMana"></game-card>
  </div>
  <div>{{cardOp.text}}</div>
  <div class="mana-count">      
    <div class="v-align selected-mana-count">
      <span style="margin-right: 15px;">Selected Mana:</span>
      <mana-array [mana]="cardOp.manaReserved"></mana-array>
    </div>
    <div class="v-align total-mana-needed">
      <span style="margin-right: 15px;">Total Mana Needed:</span>
      <mana-array [mana]="cardOp.cast"></mana-array>
    </div>
  </div>
  <div class="btns-box">
    <bf-btn bfText="Cancel" bfIcon="icon-cross" (bfClick)="cardOp.cancel()"></bf-btn>
    <bf-btn bfText="Summon Card" bfIcon="icon-arrow-right3"
            [bfDisabled]="!cardOp.showSummonBtn" (bfClick)="cardOp.tryToAction()">
    </bf-btn>
  </div>
</div>