@import '../game.vars.scss';

.selecting-mana {
  position: fixed;
  z-index: 1000;
  background: $dialog-selecting-mana-bg;
  border: 1px solid #737373;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 11px 9px 15px 2px #676767;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 { font-size: 35px; } // title

  // &.md {}
  top: calc(50% - 300px);
  left: calc(50% - 400px);
  right: calc(50% - 400px);
  bottom: calc(50% - 200px);

  .panel-card {
    padding: 3px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    img { max-height: 200px; }
  }
  .mana-count { 
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    .selected-mana-count { text-align: left; }
    .total-mana-needed { text-align: right; }
   }
  .mana { margin-left: 5px; img { border-radius: 100%; padding: 1px; background: black; }}
  .btns-box {
    // display: flex;
    // justify-content: space-between;
    text-align: right;
    bf-btn { margin-left: 15px; }
  }
  .min-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background: mediumaquamarine;
    padding: 0 20px;
    line-height: 30px;
    border-top-right-radius: 9px;
    cursor: pointer;
  }
  &.minimized {
    height: 40px;
    width: 300px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    top: unset;
    left: unset;
    .min-btn { left: 0; line-height: 38px; }
  }
}
