<div class="dialog-container"
  [style.bottom.px]="win.damageDialog.size === 'min' ? win.damageDialog.bottom : undefined"
  [class.minimized]="win.damageDialog.size === 'min'" [style.z-index]="win.damageDialog.zInd">
  <div class="window-bg" (click)="win.damageDialog.maximize()"></div>
  <!-- <div [hidden]="win.damageDialog.size === 'min'" class="min-btn" (click)="win.damageDialog.minimize()" hoverTip="Click to minimize the window" tipSide="right">-</div> -->
  <!-- <div [hidden]="win.damageDialog.size === 'max'" class="max-btn" (click)="win.damageDialog.maximize()" hoverTip="Click to open the window" tipSide="left">{{title}}</div> -->



  <h2>{{title}}</h2>

  <h3 *ngIf="win.damageDialog.icon"><span [class]="win.damageDialog.icon"></span></h3>
  <p *ngIf="win.damageDialog.text" [innerHtml]="win.damageDialog.text"></p>

  <div class="center">
      <!-- <game-card [card]="card"></game-card> -->
  </div>


  <div class="btns-box" *ngIf="youControl">
    <!-- <bf-btn bfText="Cancel" bfIcon="icon-cross" (bfClick)="cardOp.cancel()"></bf-btn> -->
    <bf-btn *ngFor="let button of win.damageDialog.buttons"
            [bfText]="button.text" [class]="button.class" bfIcon="icon-arrow-right3" 
            (click)="button.action()">
    </bf-btn>
  </div>
</div>