<div class="modal-header">
  <h4 class="modal-title">Sign In Form</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-12" *ngIf="status === 0">
      <form #myNgForm="ngForm" autocomplete="off">
        <bf-input bfLabel="Name"      [(ngModel)]="newUser.displayName" name="displayName"></bf-input>
        <bf-input bfLabel="Email"     [(ngModel)]="newUser.email" name="newMail"></bf-input>
        <bf-input bfLabel="Password"  [(ngModel)]="newUser.password1" name="newPass"></bf-input>
        <bf-input bfLabel="Repeat Password" [(ngModel)]="newUser.password2" name="newPass2"></bf-input>
        <p class="marB30" style="font-style: italic; font-size: 14px;">Please provide a valid email. A verification email with a confirmation link will be sent through to activate your new account.</p>
        <bf-checkbox  bfLabel="Accept terms and conditions" [(ngModel)]="newUser.acceptTerms" name="termsAndConds"></bf-checkbox>
      </form>
    </div>

    <div class="col-12" *ngIf="status === 1">
      <h5 class="text-center">Please wait</h5>
    </div>
    
    <div class="col-12" *ngIf="status === 2">
      <h5 class="text-center">A verification link has been sent to your email address. Please use it to finish you account activation.</h5>
    </div>

  </div>
</div>

<div class="modal-footer">
  <bf-btn bfText="Cancel" bfType="cancel" (bfClick)="activeModal.close()"></bf-btn>
  <bf-btn *ngIf="status === 0" 
          bfType="add" bfText="Create New User" (bfClick)="createUser()" 
          [bfDisabled]="!newUser.displayName
                     || !newUser.email
                     || !newUser.password1
                     || !newUser.password2
                     || (newUser.password1 !== newUser.password2)
                     || !newUser.acceptTerms"> 
  </bf-btn>
</div>
  