<div class="row">
  <h3>Sign In Confirmation</h3>

  <div class="col-12" *ngIf="afAuth.user | async as user">
    <h1>Hello {{ user.displayName }}!</h1>
  </div>

  <div class="col-12">
    <form #newUserForm autocomplete="off">
      <hr>
      <h4>Please verify this is your new user:</h4>
      <bf-input bfLabel="Email" [(ngModel)]="userEmail" name="userEmail"></bf-input>
      <!--<bf-input bfLabel="Pass" [(ngModel)]="newPass" name="newPass"></bf-input>-->
      <bf-btn bfText="Confirm" (bfClick)="validateUser()"></bf-btn>
    </form>
  </div>

</div>
