.route-container {
  position: fixed;
  top: 0;  
  left: 0;  
  bottom: 0;
  right: 0;
  // right: 50%;
  // border: 1px solid black;
  // background: aquamarine;
  width: unset;

  &.show-menu {
    left: 70px;
  }
  &.show-nav-bar {
    top: 72px;
  }

  &.scrollable {
    overflow: auto;
    padding-bottom: 50px;
  }
}