@import 'variables';

// $arrows-color: #d1ddd1;
$arrows-color: $text-color;

.card-with-targets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .targets-of-list {
    display: flex;
    .target-of {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      .vbar { width: 10px; height: 15px; margin: 5px auto -8px; background: $arrows-color; }
    }
  }
  .hbar {
    // width: 50%;
    height: 8px;
    background: $arrows-color;
  }

  .main-card {
    .icon-arrow-down { 
      font-size: 25px; 
      margin: -5px 0 2px 0;
      display: block;
      color: $arrows-color;
    }
      
    game-card { margin: 3px 25px; position: relative; }
    
    .panel-user { 
      display: flex;
      flex-direction: column;
      align-items: center; 
      margin: 0 25px;
      padding: 35px 5px 5px;
      border-radius: 10px;
      position: relative;
      .icon-user3 { font-size: calc(var(--size-ref) * 1.40); }
      .damage-points {
        position: absolute;
        line-height: calc(var(--size-ref) * 0.60);
        left: calc(50% - (var(--size-ref) * 0.30));
        top: 0;
        font-size: calc(var(--size-ref) * 0.60);
        font-weight: 600;
        -webkit-text-stroke: 2px #fff;
        color: red;
        .icon-power { font-size: calc(var(--size-ref) * 0.30); }
      }
      &.selectable-card { background: #b8e1de; &:hover { background: rgba(#FFEB3B, 0.2); }}
    }
  
  }

}
