<div class="card-with-targets">

  <div class="targets-of-list">
    <div class="target-of" *ngFor="let tCard of item.targetOf">
      <stack-card-with-targets [item]="tCard"
                               (selectCard)="selectCard.emit($event)"
                               (selectPlayer)="selectPlayer.emit($event)"
                               (hoverCard)="hoverCard.emit($event)" (clearHover)="clearHover.emit()">
      </stack-card-with-targets>
      <div class="vbar"></div>
    </div>
  </div>
  <div *ngIf="item.targetOf.length > 1" class="hbar" [style.width.%]="(item.targetOf.length - 1) * 100 / item.targetOf.length"></div>
    
  <div class="main-card">
    <span *ngIf="item.targetOf.length" class="icon-arrow-down"></span>
    
    <!-- Target Card -->
    <!-- <div class="panel-card" *ngIf="item.card"
         [class.selectable-card]="!!item.card.selectableAction || !!item.card.selectableTarget"
         [class.is-dying]="item.card.type === 'creature' && item.shadow.defense <= item.shadow.damage"
         [class.has-targets]="!!item.card.targets.length"
         [class]="item.card.type + '-' + item.card.location"
         (click)="selectCard.emit(item.card)"
         (mouseover)="hoverCard.emit(item.card)" (mouseleave)="clearHover.emit()">
      <img [src]="'/assets/images/cards/' + item.card.image">
      <span class="damage-points" *ngIf="item.shadow.damage">
        <span>{{item.shadow.damage}}</span>
        <span class="icon-power"></span>
      </span>
      <span class="attack-defense delta" *ngIf="item.card.type === 'creature' && item.shadow.delta">{{item.shadow.delta}}</span>
      <span class="attack-defense shado" *ngIf="item.card.type === 'creature' && item.shadow.force">{{item.shadow.force}}</span>
      <span class="attack-defense" [class.turn]="item.shadow.delta" *ngIf="item.card.type === 'creature'">{{item.card.turnAttack + '/' + item.card.turnDefense}}</span>
      
      <div *ngIf="item.targetOf.length || item.card.targets.length" style="position: absolute; font-size: 11px; top: -17px; left: 0px;">
        {{item.card.owner === game.playerANum ? 'Yours' : "Opponent's"}}
      </div>
      <div *ngIf="game.debugMode" style="position: absolute; bottom: 30px; margin-left: 5px; color: white; background: black;">
        gId={{item.card.gId}}
        <br/>status={{item.card.status}}
        <br/>turnDefense={{item.card.turnDefense}}
        <br/>shadowDefense={{item.shadow.defense}}
      </div>
    </div> -->
    <game-card [card]="item.card" *ngIf="item.card"
      from="stack"
      [shadow]="item.shadow"
      (click)="selectCard.emit(item.card)"
      (mouseover)="hoverCard.emit(item.card)" (mouseleave)="clearHover.emit()">
    </game-card>

    <!-- Target Player -->
    <div class="panel-user" *ngIf="item.player" 
         (click)="selectPlayer.emit(item.player)"
         [class.selectable-card]="!!item.player.selectableAction || !!item.player.selectableTarget">
      <span class="damage-points" *ngIf="item.shadow.damage">
        <span>{{item.shadow.damage}}</span>
        <span class="icon-power"></span>
      </span>
      <span class="icon-user3"></span>
      <span>{{targetPlayerText}}</span>
    </div>

  </div>

</div>