<div class="card-with-targets">

  <div class="targets-of-list">
    <div class="target-of" *ngFor="let tCard of item.targetOf">
      <stack-card-with-targets [item]="tCard"
                               (selectCard)="selectCard.emit($event)"
                               (hoverCard)="hoverCard.emit($event)" (clearHover)="clearHover.emit()">
      </stack-card-with-targets>
      <div class="vbar"></div>
    </div>
  </div>
  <div *ngIf="item.targetOf.length > 1" class="hbar" [style.width.%]="(item.targetOf.length - 1) * 100 / item.targetOf.length"></div>
    
  <div class="main-card">
    <span *ngIf="item.targetOf.length" class="icon-arrow-down"></span>

    <!-- Target Card -->
    <game-card [card]="item.card" *ngIf="item.card"
      from="stack"
      [shadow]="item.shadow"
      (click)="selectCard.emit(item.card)"
      (mouseover)="hoverCard.emit(item.card)" (mouseleave)="clearHover.emit()">
    </game-card>

    <!-- Target Player -->
    <div class="panel-user" *ngIf="item.player" 
         (click)="cardOp.selectTargetPlayer(item.player.num)"
         [class.selectable-card]="cardOp.isTargetPlayer(item.player.num)">
      <span class="damage-points" *ngIf="item.shadow.damage">
        <span>{{item.shadow.damage}}</span>
        <span class="icon-power"></span>
      </span>
      <span class="icon-user3"></span>
      <span>{{targetPlayerText}}</span>
    </div>

  </div>

</div>