<div class="spell-stack h-cards-len-{{hCardsLen}} v-cards-len-{{vCardsLen}}" 
     [style.bottom.px]="win.spellStackDialog.size === 'min' ? win.spellStackDialog.bottom : undefined"
     [class.minimized]="win.spellStackDialog.size === 'min'" [style.z-index]="win.spellStackDialog.zInd">
  <div class="window-bg" (click)="win.spellStackDialog.maximize()"></div>
  <div [hidden]="win.spellStackDialog.size === 'min'" class="min-btn" (click)="win.spellStackDialog.minimize()" hoverTip="Click to minimize the window" tipSide="right">-</div>
  <div [hidden]="win.spellStackDialog.size === 'max'" class="max-btn" (click)="win.spellStackDialog.maximize()" hoverTip="Click to open the window" tipSide="left">Spell Stack</div>

  <h2>{{title}}</h2>

  <div class="stack-box" #stackWindow [class.has-scroll]="hasScroll">

    <div class="stack" #stackEl>
      <stack-card-with-targets
        *ngFor="let rootTarget of rootTargets"
        [item]="rootTarget">
      </stack-card-with-targets>
    </div>

  </div>

  <div *ngIf="stackInfo.length > 1" style="position: absolute; top: 80px; left: 35px; text-align: left;">
    <b>PLAYING SPELLS:</b>
    <div *ngFor="let txt of stackInfo">- {{txt}}</div>
  </div>


  <div *ngIf="game.debugMode">CONTROL = {{youControl ? 'Me' : 'Opponent'}}</div>
  

  <div class="btns-box">
    <span class="main-info" *ngIf="itemInfo" [innerHtml]="itemInfo"></span>
    <span class="main-info" *ngIf="mainInfo && !itemInfo" [innerHtml]="mainInfo"></span>

    <div *ngIf="showTimer" class="wating-progress-bar">
      <div class="time" [style.width.px]="progressBar"></div>
    </div>
    <bf-btn *ngIf="showTimer" (bfClick)="pause()" bfText="Wait" bfIcon="icon-pause2"></bf-btn>
    <bf-btn *ngIf="youControl" (bfClick)="releaseStack()" bfText="Ok, go on" bfIcon="icon-arrow-right3"></bf-btn>
  </div>
  
</div>