.spell-stack {
  position: fixed;
  z-index: 1000;
  // background: honeydew;
  background: azure;
  border: 1px solid #737373;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 11px 9px 15px 2px #676767;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h2 { font-size: 35px; } // title

  // Panel Size

  $table-left: 490px; // Width of the left panel
  $table-width: calc(100% - $table-left);
  $table-center-right: calc($table-width / 2);
  $table-center-left: calc($table-left + $table-center-right);

  $table-top: 72px; // Height of the navbar
  $table-height: calc(100% - $table-top);  
  $table-center-bottom: calc($table-height / 2);
  $table-center-top: calc($table-top + $table-center-bottom);

  left: calc($table-center-left - 1000px);
  right: calc($table-center-right - 1000px);
  top: calc($table-center-top - 590px); 
  bottom: calc($table-center-bottom - 380px);

  &.h-cards-len-1 { left: calc($table-center-left - 370px); right: calc($table-center-right - 370px); }
  &.h-cards-len-2 { left: calc($table-center-left - 420px); right: calc($table-center-right - 420px); }
  &.h-cards-len-3 { left: calc($table-center-left - 470px); right: calc($table-center-right - 470px); }
  &.h-cards-len-4 { left: calc($table-center-left - 520px); right: calc($table-center-right - 520px); }
  &.h-cards-len-5 { left: calc($table-center-left - 570px); right: calc($table-center-right - 570px); }
  &.h-cards-len-6 { left: calc($table-center-left - 620px); right: calc($table-center-right - 620px); }
  &.h-cards-len-7 { left: calc($table-center-left - 670px); right: calc($table-center-right - 670px); }
  &.h-cards-len-8 { left: calc($table-center-left - 720px); right: calc($table-center-right - 720px); }
  &.h-cards-len-9 { left: calc($table-center-left - 770px); right: calc($table-center-right - 770px); }

  &.v-cards-len-1 { top: calc($table-center-top - 340px); bottom: calc($table-center-bottom - 70px); }
  &.v-cards-len-2 { top: calc($table-center-top - 560px); bottom: calc($table-center-bottom - 90px); }
  &.v-cards-len-3 { top: calc($table-center-top - 590px); bottom: calc($table-center-bottom - 290px); }


  .stack-box {
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    overflow: auto;
    border: 1px solid #c3c3c3;
    background: #66cdaa33;
    &.no-scroll {
      border: none;
      background: unset;
    }
    border-radius: 2px;
    margin-bottom: 15px;
    .stack {
      display: flex;
      align-items: end;
      stack-card-with-targets { padding: 20px; }
    }
  }


  .wating-progress-bar {
    margin-left: 15px;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    box-shadow: inset 2px 2px 5px 0px #757575;
    .time {
      height: 100%;
      background-color: #525254;;
    }
  }

  .pause-btn {
    margin: 10px 0 30px;
    bf-btn { transform: scale(2); }
  }

  .btns-box {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    bf-btn { margin-left: 15px; }
    .main-info {
      margin: 0 15px;
      flex: 1;
      text-align: left;
    }
  }

  .min-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background: mediumaquamarine;
    padding: 0 20px;
    line-height: 30px;
    border-top-right-radius: 9px;
    cursor: pointer;
  }
  &.minimized {
    height: 40px;
    width: 300px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    top: unset;
    left: unset;
    .min-btn { left: 0; line-height: 38px; }
  }
}
