@import '../game.vars.scss';

.spell-stack {
  background: $dialog-spell-stack-bg;
  @include panel-basics();
  @include resizable-panel(25px, 25px, 15%);

  &.v-cards-len-3 {
    top: 25px; 
    bottom: unset;
    height: calc(240px + (var(--card-height) * 3.3));
  }

  .stack-box {
    flex: 1;
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100%;
    overflow: auto;
    border-radius: 2px;
    margin-bottom: 15px;
    .stack {
      display: flex;
      stack-card-with-targets { padding: 20px; }
    }
    &.has-scroll {
      border: 1px solid #c3c3c3;
      background: #66cdaa33;
      align-items: start;
      .stack {
        align-items: end;
        // height: unset;
      }
    }
  }


  .wating-progress-bar {
    margin: 0 15px;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    box-shadow: inset 2px 2px 5px 0px #757575;
    background: #bed1be;
    .time {
      height: 100%;
      background-color: #525254;;
    }
  }

  // .pause-btn {
  //   margin: 10px 0 30px;
  //   bf-btn { transform: scale(2); }
  // }

}


@media only screen and (hover: none) and (pointer: coarse) { 
  .spell-stack {
    .btns-box {
      display: block;
      .main-info {
        width: 100%;
        text-align: center;
        display: block;
        margin: 10px 0;
      }
      .wating-progress-bar {
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: bottom;
      }
      .wait {
        margin-bottom: 10px;
      }
      // .go { margin-left: 0; }
      bf-btn + bf-btn { margin-left: 0; }
    }
  }
}
