.selected-card-col {
  width: 320px;
  padding: 20px;
  border: 1px solid #bbbbbb;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card-list-col {
  width: calc(100% - 320px);
  padding: 20px;
  border: 1px solid #bbbbbb;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  .list-wrapper {
    padding: 10px 3px;
  }
}

.card-box {
  &.list { padding: 0 12px; }
  cursor: pointer;
  display: inline-block;
  h5 {
    margin: 2px 0 1px;
    font-size: 10px;
    max-width: 96px;
    text-align: center;
    min-height: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-border {
    border: 1px solid black;
    background: white;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    height: 134px;
    width: 96px;
    img { width: 90px; height: 128px; }
  }
}
