<div class="combat h-cards-len-{{hCardsLen}}" [class.minimized]="minimized">
  <div class="min-btn" (click)="minimized = !minimized">{{minimized ? title : '-'}}</div>
  <h2>{{title}}</h2>

  <div>CONTROL = {{youControl ? 'Me' : 'Opponent'}} - subPhase = "{{subPhase}}"</div>

  


  <!-- View for attacker -->
  <div class="arena" *ngIf="attacker === 'A'">
    <div class="creature-list">
      <div class="combat-col" *ngFor="let col of combatCards">

        <!-- Defending Creature -->
        <div class="panel-card" *ngIf="col.defendingCard" 
             [class.is-dying]="col.defendingCard.turnDefense <= col.defendingCard.turnDamage"
             [class.selectable-card]="col.defendingCard.selectableAction || col.defendingCard.selectableTarget"
             (click)="selectCard.emit(col.defendingCard)"
             (mouseover)="hoverCard.emit(col.defendingCard)" (mouseleave)="clearHover.emit()">
          <img [src]="'/assets/images/cards/' + col.defendingCard.image">
          <span class="damage-points" *ngIf="col.defendingCard.turnDamage">
            <span>{{col.defendingCard.turnDamage}}</span>
            <span class="icon-power"></span>
          </span>
          <span class="attack-defense" *ngIf="col.defendingCard.type === 'creature'">
            <span>{{col.defendingCard.turnAttack + '/' + col.defendingCard.turnDefense}}</span>
          </span>
        </div>

        <!-- Empty Slot for defender -->
        <div class="panel-card empty-slot" *ngIf="!col.defendingCard"
             [class.is-hidden]="subPhase === 'selectAttack'">
          <img>
          <span class="damage-points" *ngIf="subPhase === 'afterCombat' && col.attackingCard.turnAttack">
            <span>{{col.attackingCard.turnAttack}}</span>
            <span class="icon-power"></span>
          </span>
        </div>

        <!-- Damage Arrows -->
        <div class="combat-arrows">          
          <div class="combat-arrow">
            <span class="damage left bottom">{{col.attackingCard.turnAttack}}<span class="icon-power"></span></span>
            <!-- <span class="damage left top" *ngIf="col.defendingCard">{{col.defendingCard.turnDefense}}<span class="icon-shield2"></span></span> -->
            <span class="icon-arrow-up16"></span>
          </div>
          <div class="combat-arrow" *ngIf="col.defendingCard">
            <span class="icon-arrow-down16"></span>
            <span class="damage right top">{{col.defendingCard.turnAttack}}<span class="icon-power"></span></span>
            <!-- <span class="damage right bottom">{{col.attackingCard.turnDefense}}<span class="icon-shield2"></span></span> -->
          </div>
        </div>

        <!-- Attacking Creature -->
        <div class="panel-card" 
             [class.is-dying]="col.attackingCard.turnDefense <= col.attackingCard.turnDamage"
             [class.selectable-card]="col.attackingCard.selectableAction || col.attackingCard.selectableTarget"
             (click)="selectCard.emit(col.attackingCard)"
             (mouseover)="hoverCard.emit(col.attackingCard)" (mouseleave)="clearHover.emit()">
          <img [src]="'/assets/images/cards/' + col.attackingCard.image">
          <span class="damage-points" *ngIf="col.attackingCard.turnDamage">
            <span>{{col.attackingCard.turnDamage}}</span>
            <span class="icon-power"></span>
          </span>
          <span class="attack-defense" *ngIf="col.attackingCard.type === 'creature'">
            <span>{{col.attackingCard.turnAttack + '/' + col.attackingCard.turnDefense}}</span>
          </span>
        </div>

      </div>
    </div>
  </div>





  <!-- View for defender -->
  <div class="arena" *ngIf="attacker === 'B'">
    <div class="creature-list">
      <div class="combat-col" *ngFor="let col of combatCards" 
           [class.is-selectable]="!!defenderLookingForTarget"
           (click)="clickCol(col)"
           (mouseover)="hoverCol(col)"
           (mouseleave)="hoverCol()">

        <!-- Attacking Creature -->
        <div class="panel-card" 
             [class.is-dying]="col.attackingCard.turnDefense <= col.attackingCard.turnDamage"
             [class.selectable-card]="col.attackingCard.selectableAction || col.attackingCard.selectableTarget"
             (click)="selectCard.emit(col.attackingCard)"
             (mouseover)="hoverCard.emit(col.attackingCard)" (mouseleave)="clearHover.emit()">
          <img [src]="'/assets/images/cards/' + col.attackingCard.image">
          <span class="damage-points" *ngIf="col.attackingCard.turnDamage">
            <span>{{col.attackingCard.turnDamage}}</span>
            <span class="icon-power"></span>
          </span>
          <span class="attack-defense" *ngIf="col.attackingCard.type === 'creature'">
            <span>{{col.attackingCard.turnAttack + '/' + col.attackingCard.turnDefense}}</span>
          </span>
        </div>

        <!-- Damage Arrows -->
        <div class="combat-arrows">
          <div class="combat-arrow">
            <span class="damage left top">{{col.attackingCard.turnAttack}}<span class="icon-power"></span></span>
            <!-- <span class="damage left bottom" *ngIf="col.defendingCard">{{col.defendingCard.turnDefense}}<span class="icon-shield2"></span></span> -->
            <span class="icon-arrow-down16"></span>
          </div>
          <div class="combat-arrow" *ngIf="col.defendingCard">
            <span class="icon-arrow-up16"></span>
            <!-- <span class="damage right top">{{col.attackingCard.turnDefense}}<span class="icon-shield2"></span></span> -->
            <span class="damage right bottom">{{col.defendingCard.turnAttack}}<span class="icon-power"></span></span>
          </div>
        </div>

        <!-- Defending Creature -->
        <div class="panel-card" *ngIf="col.defendingCard"
             [class.is-dying]="col.defendingCard.turnDefense <= col.defendingCard.turnDamage"
             [class.selectable-card]="col.defendingCard.selectableAction || col.defendingCard.selectableTarget"
             (click)="selectCard.emit(col.defendingCard)"
             (mouseover)="hoverCard.emit(col.defendingCard)" (mouseleave)="clearHover.emit()">
          <img [src]="'/assets/images/cards/' + col.defendingCard.image">
          <span class="damage-points" *ngIf="col.defendingCard.turnDamage">
            <span>{{col.defendingCard.turnDamage}}</span>
            <span class="icon-power"></span>
          </span>
          <span class="attack-defense" *ngIf="col.defendingCard.type === 'creature'">
            <span>{{col.defendingCard.turnAttack + '/' + col.defendingCard.turnDefense}}</span>
          </span>
        </div>

        <!-- Empty Slot for defender -->
        <div class="panel-card" *ngIf="!col.defendingCard" 
             [class.empty-slot]="!col.hoverDefender"
             (mouseover)="col.hoverDefender && hoverCard.emit(col.hoverDefender)" (mouseleave)="clearHover.emit()">
          <img [hidden]="col.hoverDefender">
          <img [hidden]="!col.hoverDefender" [src]="'/assets/images/cards/' + col.hoverDefender?.image">
          <span class="damage-points" *ngIf="subPhase === 'afterCombat' && col.attackingCard.turnAttack">
            <span>{{col.attackingCard.turnAttack}}</span>
            <span class="icon-power"></span>
          </span>
        </div>
        <!-- defenderLookingForTarget={{defenderLookingForTarget?.name | json}} -->

      </div>
    </div>
  </div>


  


  <div class="btns-box">
    <span class="main-info" *ngIf="itemInfo" [innerHtml]="itemInfo"></span>
    <span class="main-info" *ngIf="mainInfo && !itemInfo" [innerHtml]="mainInfo"></span>

    <bf-btn *ngIf="attacker === 'A' && subPhase === 'selectAttack'"  bfText="Cancel"  [bfDisabled]="!youControl" (bfClick)="cancelAttack()"  bfIcon="icon-cross"></bf-btn>
    <bf-btn *ngIf="attacker === 'A' && subPhase === 'selectAttack'"  bfText="Submit Attack"  [bfDisabled]="!youControl" (bfClick)="submitAttack()"  bfIcon="icon-arrow-right3"></bf-btn>
    
    <bf-btn *ngIf="attacker === 'B' && subPhase === 'selectDefense' && anyDefenders" bfText="Cancel"  [bfDisabled]="!youControl" (bfClick)="cancelDefense()" bfIcon="icon-cross"></bf-btn>
    <bf-btn *ngIf="attacker === 'B' && subPhase === 'selectDefense'" [bfText]="submitDefenseBtnText" [bfDisabled]="!youControl" (bfClick)="submitDefense()" bfIcon="icon-arrow-right3"></bf-btn>

    <bf-btn *ngIf="subPhase === 'attacking'"   bfText="Continue" [bfDisabled]="!youControl" (bfClick)="releaseStack()" bfIcon="icon-arrow-right3"></bf-btn>
    <bf-btn *ngIf="subPhase === 'defending'"   bfText="Continue" [bfDisabled]="!youControl" (bfClick)="releaseStack()" bfIcon="icon-arrow-right3"></bf-btn>
    <bf-btn *ngIf="subPhase === 'afterCombat'" bfText="Continue" [bfDisabled]="!youControl" (bfClick)="releaseStack()" bfIcon="icon-arrow-right3"></bf-btn>

  </div>

</div>