<div class="combat h-cards-len-{{hCardsLen}}" [class.fix]="fix"
     [style.bottom.px]="win.combatDialog.size === 'min' ? win.combatDialog.bottom : fix ? 25 : undefined"
     [class.minimized]="win.combatDialog.size === 'min'" [style.z-index]="win.combatDialog.zInd">
  <div class="window-bg" (click)="win.combatDialog.maximize()"></div>
  <div [hidden]="win.combatDialog.size === 'min'" class="min-btn" (click)="win.combatDialog.minimize()" hoverTip="Click to minimize the window" tipSide="right">-</div>
  <div [hidden]="win.combatDialog.size === 'max'" class="max-btn" (click)="win.combatDialog.maximize()" hoverTip="Click to open the window" tipSide="left">{{title}}</div>

  <div>
    <h2>{{title}}</h2>
    <div class="combat-phases">
      <span class="subphase" [class.active]="subPhase === 'selectAttack'">Select Attackers</span>
      <span class="subphase" [class.active]="subPhase === 'attacking'">Attacking</span>
      <span class="subphase" [class.active]="subPhase === 'selectDefense'">Select Defenders</span>
      <span class="subphase" [class.active]="subPhase === 'beforeDamage'">Before Damage</span>
      <span class="subphase" [class.active]="subPhase === 'afterDamage'">After Damage</span>
      <span class="subphase" [class.active]="subPhase === 'regenerate'">Regeneration</span>
    </div>
  </div>
  
  <div *ngIf="game.debugMode">CONTROL = {{youControl ? 'Me' : 'Opponent'}} - subPhase = "{{subPhase}}"</div>

  <!-- View for attacker -->
  <div class="arena" *ngIf="attacker === 'A'">
    <div class="creature-list">
      <div class="combat-col" *ngFor="let col of combatCards">

        <!-- Defending Creature -->
        <game-card [card]="col.defendingCard" *ngIf="col.defendingCard" 
                   from="combatDefenderUp" (click)="cardEv.selectCard(col.defendingCard)">
        </game-card>

        <!-- Empty Slot for defender -->
        <div class="empty-slot" *ngIf="!col.defendingCard"
             [class.is-hidden]="subPhase === 'selectAttack'">
          <img>
          <span class="damage-points" *ngIf="subPhase === 'afterDamage' && col.attackingCard.turnAttack">
            <span>{{col.attackingCard.turnAttack}}</span>
            <span class="icon-power"></span>
          </span>
        </div>

        <!-- Damage Arrows -->
        <div class="combat-arrows">          
          <div class="combat-arrow">
            <span class="damage left bottom">{{col.attackingCard.turnAttack}}<span class="icon-power"></span></span>
            <!-- <span class="damage left top" *ngIf="col.defendingCard">{{col.defendingCard.turnDefense}}<span class="icon-shield2"></span></span> -->
            <span class="icon-arrow-up16"></span>
          </div>
          <div class="combat-arrow" *ngIf="col.defendingCard">
            <span class="icon-arrow-down16"></span>
            <span class="damage right top">{{col.defendingCard.turnAttack}}<span class="icon-power"></span></span>
            <!-- <span class="damage right bottom">{{col.attackingCard.turnDefense}}<span class="icon-shield2"></span></span> -->
          </div>
        </div>

        <!-- Attacking Creature -->
        <game-card [card]="col.attackingCard" from="combatAttackerDown"
                   (click)="cardEv.selectCard(col.attackingCard)">
        </game-card>

      </div>
    </div>
  </div>





  <!-- View for defender -->
  <div class="arena" *ngIf="attacker === 'B'">
    <div class="creature-list">
      <div class="combat-col" *ngFor="let col of combatCards" 
           [class.is-selectable]="!!defenderLookingForTarget && col.isPossibleTarget"
           (click)="clickCol(col)"
           (mouseover)="hoverCol(col)"
           (mouseleave)="hoverCol()">

        <!-- Attacking Creature -->
        <game-card [card]="col.attackingCard" from="combatAttackerUp"
                   (click)="cardEv.selectCard(col.attackingCard)">
        </game-card>

        <!-- Damage Arrows -->
        <div class="combat-arrows">
          <div class="combat-arrow">
            <span class="damage left top">{{col.attackingCard.turnAttack}}<span class="icon-power"></span></span>
            <!-- <span class="damage left bottom" *ngIf="col.defendingCard">{{col.defendingCard.turnDefense}}<span class="icon-shield2"></span></span> -->
            <span class="icon-arrow-down16"></span>
          </div>
          <div class="combat-arrow" *ngIf="col.defendingCard">
            <span class="icon-arrow-up16"></span>
            <!-- <span class="damage right top">{{col.attackingCard.turnDefense}}<span class="icon-shield2"></span></span> -->
            <span class="damage right bottom">{{col.defendingCard.turnAttack}}<span class="icon-power"></span></span>
          </div>
        </div>

        <!-- Empty Slot for defender -->
        <div class="empty-slot" *ngIf="!col.defendingCard && !col.hoverDefender" 
             [class.not-selectable]="!col.isPossibleTarget">
          <span class="damage-points" *ngIf="subPhase === 'afterDamage' && col.attackingCard.turnAttack">
            <span>{{col.attackingCard.turnAttack}}</span>
            <span class="icon-power"></span>
          </span>
        </div>


        <game-card [card]="col.hoverDefender" *ngIf="col.hoverDefender" 
                   [selectable]="false" from="combatDefenderDown">
        </game-card>


        <!-- Defending Creature -->
        <game-card [card]="col.defendingCard" *ngIf="col.defendingCard"
                   from="combatDefenderDown" (click)="cardEv.selectCard(col.defendingCard)">
        </game-card>

      </div>
    </div>
  </div>


  


  <div class="btns-box">
    <bf-btn *ngIf="attacker === 'B' && subPhase === 'selectDefense' && !anyDefenders" 
            bfText="Do not defend" [bfDisabled]="diableButtons" bfIcon="icon-cross" class="warning" 
            (bfClick)="submitDefense()">
    </bf-btn>

    <span class="main-info" *ngIf="itemInfo" [innerHtml]="itemInfo"></span>
    <span class="main-info" *ngIf="mainInfo && !itemInfo" [innerHtml]="mainInfo"></span>

    <div *ngIf="showTimer && !diableButtons" class="wating-progress-bar">
      <div class="time" [style.width.px]="progressBar"></div>
    </div>
    <bf-btn class="wait" *ngIf="showTimer && !diableButtons" (bfClick)="pause()" bfText="Wait" bfIcon="icon-pause2"></bf-btn>
    

    <bf-btn *ngIf="attacker === 'A' && subPhase === 'selectAttack'"  bfText="Cancel"                          [bfDisabled]="diableButtons" (bfClick)="cancelAttack()"  bfIcon="icon-cross"></bf-btn>
    <bf-btn *ngIf="attacker === 'A' && subPhase === 'selectAttack'"  bfText="Attack with selected creatures"  [bfDisabled]="diableButtons" (bfClick)="submitAttack()"  bfIcon="icon-arrow-right3"></bf-btn>
    
    <bf-btn *ngIf="attacker === 'B' && subPhase === 'selectDefense' && anyDefenders" bfText="Cancel"                        [bfDisabled]="diableButtons" (bfClick)="cancelDefense()" bfIcon="icon-cross"></bf-btn>
    <bf-btn *ngIf="attacker === 'B' && subPhase === 'selectDefense' && anyDefenders" bfText="Defend with current selection" [bfDisabled]="diableButtons" (bfClick)="submitDefense()" bfIcon="icon-arrow-right3"></bf-btn>

    <bf-btn *ngIf="subPhase === 'attacking'"      bfText="Continue" [bfDisabled]="diableButtons" (bfClick)="continueCombat()" bfIcon="icon-arrow-right3" [class.full-width]="game.isMobile"></bf-btn>
    <bf-btn *ngIf="subPhase === 'beforeDamage'"   bfText="Continue" [bfDisabled]="diableButtons" (bfClick)="continueCombat()" bfIcon="icon-arrow-right3" [class.full-width]="game.isMobile"></bf-btn>
    <bf-btn *ngIf="subPhase === 'afterDamage'"    bfText="Continue" [bfDisabled]="diableButtons" (bfClick)="continueCombat()" bfIcon="icon-arrow-right3" [class.full-width]="game.isMobile"></bf-btn>

  </div>

</div>