<div class="game-card empty" 
     [class]="from" [class.back-card]="back" *ngIf="!card"
     [class.selectable-card]="selectable">
  <img *ngIf="back"  src="/assets/images/cards/card_back.jpg">
  <img *ngIf="!back" src="/assets/images/cards/empty.png">
  <div *ngIf="count !== null" class="deck-count">{{count}}</div>
</div>

<div class="game-card" *ngIf="card"
     [class]="from + ' type-' + card.type"
     [class.back-card]="back"
     [class.back-border]="card.border === 'black'"
     [class.selectable-card]="isActionSelectable() || isTargetSelectable()"
     [class.is-tapped]="card.isTapped"
     [class.is-sick]="card.status === 'sickness'"
     [class.is-selected-attack]="card.combatStatus === 'combat:attacking'"
     [class.is-selected-defense]="card.combatStatus === 'combat:defending'"
     [class.is-summoning]="isSummonOp()"
     [class.is-dying]="card.isType('creature') && (card.turnDefense <= card.turnDamage || (shadow && shadow.defense <= shadow.damage))"
     [class.has-targets]="!!card.targets.length"
     [hidden]="isEnchantingCombatCreature"
     [hoverTip]="getHoverTip()" tipId="card"     
     (mouseenter)="!back && cardEv.hoverCard$.next(card)"
     (mouseleave)="!back && cardEv.hoverCard$.next(null)">
     
  <img [src]="'/assets/images/cards/' + (back ? 'card_back.jpg' : card.image)">

  <span class="damage-points" *ngIf="card.turnDamage || shadow?.damage">
    <span>{{shadow?.damage || card.turnDamage}}</span>
    <span class="icon-power"></span>
  </span>

  <span class="damage-points" *ngIf="(card.xValue ?? -1) > 0">
    <span>{{card.xValue}}</span>
    <span class="icon-cross"></span>
  </span>

  <span class="attack-defense delta" *ngIf="card?.isType('creature') && shadow?.delta">{{shadow?.delta}}</span>
  <span class="attack-defense shado" *ngIf="card?.isType('creature') && shadow?.force">{{shadow?.force}}</span>
  <span class="attack-defense" [class.turn]="shadow?.delta" *ngIf="card?.isType('creature')">
    {{card.turnAttack + '/' + card.turnDefense}}
  </span>

  <div class="owner" *ngIf="from === 'stack' && (card.targetOf?.length || card.targets.length)">
    {{card.owner === game.playerANum ? 'Yours' : "Opponent's"}}
  </div>

  <span class="effects-badge" *ngIf="from !== 'panelEffects' && card.effectsFrom?.length"
        (click)="openEffectBadge(card, $event)"
        [hoverTip]="'There are ' + card.effectsFrom?.length + ' effects applied on this card'" tipId="badge">
    <span>{{card.effectsFrom?.length}}</span>
  </span>

  <div *ngIf="game.debugMode" class="debug-box">
    gId={{card.gId}}
    <!-- <br/>status={{card.status}} -->
    <br/>cs={{card.combatStatus}}
    <!-- <br/>defense={{card.turnDefense}} -->
    <br/>damage={{card.turnDamage}}
  </div>
</div>






