<div class="dialog-container" [class.minimized]="false">
  <!-- <div class="min-btn" (click)="summonOp.minimized = !summonOp.minimized">{{summonOp.minimized ? summonOp.title : '-'}}</div> -->
  <h2>{{card.name}}</h2>
  <div class="center">
    <game-card [card]="card" from="customDialog"></game-card>
  </div>

  <div>
    <p>Tapping {{card.name}} to add mana</p>
    <p>Select 1 mana:</p>

    <div class="mana-options">
      <mana-icon [mana]="mana1" (click)="select(mana1)"></mana-icon>
      <mana-icon [mana]="mana2" (click)="select(mana2)"></mana-icon>
    </div>

  </div>

  <div class="btns-box">
    <bf-btn bfText="Cancel" bfIcon="icon-cross" (bfClick)="cancel()"></bf-btn>
  </div>
</div>