<h2 translate>Magic The Gathering (vintage)</h2>

<div class="page">
  <p translate>Welcome to the old cool Magic the Gathering Game</p>

  <div class="home-boxes">

    <div class="whiteBg" (click)="goToYourCards()">
      <h3>Your Cards</h3>
      <p>You currently own {{numCards}} cards</p>
    </div>

    <div class="whiteBg" (click)="goToYourCards()">
      <h3>Your Decks</h3>
      <p>You currently have {{numDecks}} decks</p>
    </div>

    <div class="whiteBg" (click)="goToGames()">
      <h3>Your Games</h3>
      <!-- <p>You have {{numRequests}} game requests</p> -->
      <p>You have {{numGames}} ongoing games</p>
    </div>

  </div>

</div>

