.card-box {
  display: inline-block;
  padding: 0 30px;
  h5 {
    margin: 0 0 5px;
    text-align: center;
    padding-right: 10px;
  }

  .card-border {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 2px 0px 2px;
    height: 130px;
    img { width: 90px; }
  }
}
