h2 { padding: 15px 15px 0 15px; }

.page {
  padding: 0 15px 15px 30px;
  // height: 100%;
  // display: flex;

  .home-boxes {
    display: flex;
    margin-top: 50px;
    .whiteBg {
      h3 { margin-bottom: 40px; }
      padding: 40px 60px;
      text-align: center;
      display: 1;
      margin: 0 20px;
      cursor: pointer;
    }
  }
}
