<div class="dialog-container" [class.minimized]="win.regenerateDialog.size === 'min'">
  <div [hidden]="win.regenerateDialog.size === 'min'" class="min-btn" (click)="win.regenerateDialog.minimize()">-</div>
  <div [hidden]="win.regenerateDialog.size === 'max'" class="max-btn" (click)="win.regenerateDialog.maximize()">Regenerate</div>

  <h2>Regenerate</h2>

  <div class="center">
    <!-- <game-card *ngIf="card" [card]="card" from="customDialog" (click)="selectCard(card)"></game-card>
    <div *ngIf="!card"> -->
      <game-card *ngFor="let card of creatures" 
        [card]="card"
        from="regenerateDialog"
        (click)="selectCard(card)">
      </game-card>
    <!-- </div> -->
  </div>

  <p *ngIf="!youControl && card">{{opponentName}} is about to regenerate {{card.name}}. Wait for it.</p>
  <p *ngIf="!youControl && !card">{{opponentName}} is about to regenerate these creatures. Wait for it.</p>

  <p *ngIf="youControl && card">{{card.name}} is dying... But you can regenerate it</p>
  <p *ngIf="youControl && !card">These creatures are dying... But you can regenerate them</p>

  <div *ngIf="youControl && cardOp && cardOp?.status === 'waitingMana'">
    <span>You need to pay: </span>
    <mana-array style="margin-left: 5px;" class="md" [mana]="cardOp.manaCost"></mana-array>
  </div>

  <div class="btns-box" *ngIf="youControl">
    <bf-btn *ngIf="card"  bfText="Let it Die"   bfIcon="icon-cross" class="warning" (bfClick)="letThemDie()"></bf-btn>
    <bf-btn *ngIf="!card" bfText="Let them Die" bfIcon="icon-cross" class="warning" (bfClick)="letThemDie()"></bf-btn>
  </div>
</div>