<div class="dialog-container" [class.minimized]="minimized">
  <div class="min-btn" (click)="minimized = !minimized">{{minimized ? title : '-'}}</div>
  <h2>Regenerate</h2>

  <div class="center">
    <game-card [card]="card" from="customDialog" (click)="selectCard()"></game-card>
  </div>

  <p *ngIf="!youControl">{{opponentName}} is about to regenerate {{card.name}}. Wait for it.</p>

  <p *ngIf="youControl">{{card.name}} is dying... But you can regenerate it</p>
  <div *ngIf="youControl && summonOp && summonOp?.status === 'waitingMana'">
    <span>You need to pay: </span>
    <mana-array style="margin-left: 5px;" class="md" [mana]="summonOp.cast"></mana-array>
  </div>

  <div class="btns-box" *ngIf="youControl">
    <bf-btn *ngIf="!card.status" [bfText]="'Regenerate ' + card.name" bfIcon="icon-checkmark" (bfClick)="selectCard()"></bf-btn>
    <bf-btn bfText="Let it Die" bfIcon="icon-cross" class="warning" (bfClick)="letItDie()"></bf-btn>
  </div>
</div>