@import '../game.vars.scss';

.dialog-container {
  background: $dialog-custom-bg;
  // background: snow;
  // background: seashell;
  // background: oldlace;
  // background: papayawhip;
  // background: mintcream;
  // background: lightyellow;

  @include panel-basics();
  @include fixed-panel(17%, 25%, 15%);

  &:not(.minimized) {
    min-width: 650px; min-height: 700px;
    @media screen and (max-height: 1050px) { min-width: 600px; min-height: 600px; }
    @media screen and (max-height: 900px)  { min-width: 560px; min-height: 540px; }
  }

  game-card + game-card {
    margin-left: 30px;
  }

  .btns-box {
    .your-selection {
      flex: 1;
      text-align: left;
      margin-left: 30px;
      mana-icon { margin-left: 10px; }
    }
  }
}
