
// Local colors
$primary_color    : #1abc9c;
$secondary_color  : #046F5A;
$tertiary_color   : #BC451A;
$quaternary_color : #2E4856;
$warning_color    : #BC451A;
$extra_color      : #6F1E00;


@import "./default-vars.scss";

