@import '../game.vars.scss';

.mana {
  margin-left: 5px; 
  img {
    border-radius: 100%;
    padding: 1px;
    // background: black; 
    background: #656565;
    max-height: calc(var(--size-ref) * 0.32); // xl = 32px;
  }
}
:host.md .mana img { max-height: calc(var(--size-ref) * 0.28); }
:host.sm .mana img { max-height: calc(var(--size-ref) * 0.22); }