<span *ngFor="let m of numArr(mana[0])" class="mana"> <img src="assets/images/oneMana.png">  </span>
<span *ngFor="let m of numArr(mana[1])" class="mana"> <img src="assets/images/blueMana.png"> </span>
<span *ngFor="let m of numArr(mana[2])" class="mana"> <img src="assets/images/whiteMana.png"></span>
<span *ngFor="let m of numArr(mana[3])" class="mana"> <img src="assets/images/blackMana.png"></span>
<span *ngFor="let m of numArr(mana[4])" class="mana"> <img src="assets/images/redMana.png">  </span>
<span *ngFor="let m of numArr(mana[5])" class="mana"> <img src="assets/images/greenMana.png"></span>