<h1>Buy 1 "{{unit.card.name}}"</h1>
<span class="icon-cross2 close-btn" (click)="close()"></span>

<mtg-card [cardImg]="unit.card.image" class="lg" [border]="unit.card.border"></mtg-card>

<p><b>Ref:</b> {{unit.ref}}</p>
<p style="margin-bottom: 10px;">Average price: <b>{{unit.card.price | number: '1.0-0' }}</b> sats</p>

<p *ngIf="unitsYouOwn">You already own <b>{{unitsYouOwn}}</b> {{unit.card.name}}</p>
<p *ngIf="!unitsYouOwn">You own <b>0</b> {{unit.card.name}}</p>

<h2>Current Offer: <b>{{formattedPrice}}</b> sats</h2>


<p class="show-options" (click)="openCardUnits()">Show More Options</p>

<div class="bottom-row">
  <!-- <bf-btn bfText="More Options" class="primary" (bfClick)="openCardUnits()"></bf-btn> -->
  <bf-btn [bfText]="buyBtnText" class="secondary" [bfAsyncPromise]="btnPromise"
          bfIcon="icon-coin-dollar" [bfDisabled]="btnDisabled" (bfClick)="btnPromise = buyIt()">
  </bf-btn>
</div>