:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background: azure;
}

.close-btn {
  position: absolute;
  padding: 10px;
  top: 5px;
  right: 5px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.3s;
  background: #bbb;
  color: #888;
  &:hover {
    background: #eee;
    color: #c7c7c7;
  }
}

mtg-card {
  margin: 15px 0;
}

p { margin: 0; }

.show-options {
  text-decoration: underline;
  cursor: pointer;
}

.bottom-row {
  margin-top: 20px;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  justify-content: center;
}

bf-btn + bf-btn { margin-left: 15px; }