@import "variables";
@import 'bootstrap/scss/bootstrap';
@import "@blueface_npm/bf-ui-lib/scss/index";
@import "@blueface_npm/bf-icomoon/css/icomoon.css";
@import "@blueface_npm/bf-icomoon/css/icomoon.css";


body { font-size: 14px; }
h2 { font-size: 2em; }

@media (max-width: 1500px) or (max-height: 1050px) {
  body { font-size: 12px; }
}

@media (max-width: 1000px) or (max-height: 800px) { 
  body { font-size: 10px; }
}