@import './lists.scss';

.hide { display: none; }

.center {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }

.text-right { text-align: right; }

// .row {
//   display: flex;
//   .col-1 { flex: 1; } .col-5 { flex: 5; } .col-9  { flex: 9;  }
//   .col-2 { flex: 2; } .col-6 { flex: 6; } .col-10 { flex: 10; }
//   .col-3 { flex: 3; } .col-7 { flex: 7; } .col-11 { flex: 11; }
//   .col-4 { flex: 4; } .col-8 { flex: 8; } .col-12 { flex: 12; }
// }

.whiteBg {
  padding: 25px;
  margin: 15px 0;
  background-color: $white;
  box-shadow: 0 1px 2px rgba(34,36,38,.15);
  border-radius: 3px;

  &.row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.growl-wrapper {
  // left: 20px;
  .msg-box { 
    max-width: 85vw;
  }
}