.mana-input {
  margin-right: 10px;
  img {
    position: absolute;
    z-index: 99;
    height: 32px;
    width: 36px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    padding: 3px 5px;
    background: #888888;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 1px;
  }
  .bf-input-form-group {
    input {
      text-align: right;
      padding-left: 30px;
    }
  }
}


.card-box {
  display: inline-block;
  padding: 0 20px;
  h5 {
    margin: 0 0 1px;
    font-size: 10px;
    max-width: 96px;
    text-align: center;
    min-height: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-border {
    border: 1px solid black;
    background: white;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    height: 134px;
    width: 96px;
    img { width: 90px; height: 128px; }
  }
}

.card-box.big-size {
  padding: 20px 0;
  .card-border {
    width: 278px;
    height: 392px;
    padding: 3px;
    background: white;
    border-radius: 5px;
    img { width: 270px; height: 384px; }
  }
}
