
// ----------------------------------------------------------------------------
// Bootstrap offers classes p-1,... p-5, m-1, mt-2, etc
// We define our own here (we do not override bootstrap, so both can be used)

// Generate padding classes (pad, padL, padR, padT, padB, padH, padV)
@for $ind from 0 through 20 {
  .pad#{$ind * 5}  { padding: #{$ind * 5}px; }
  .padL#{$ind * 5} { padding-left   : #{$ind * 5}px; }
  .padR#{$ind * 5} { padding-right  : #{$ind * 5}px; }
  .padT#{$ind * 5} { padding-top    : #{$ind * 5}px; }
  .padB#{$ind * 5} { padding-bottom : #{$ind * 5}px; }
  .padH#{$ind * 5} { padding-left: #{$ind * 5}px; padding-right : #{$ind * 5}px; }
  .padV#{$ind * 5} { padding-top : #{$ind * 5}px; padding-bottom: #{$ind * 5}px; }
}

// Generate margin classes (mar, marL, marR, marT, marB, marH, marV)
@for $ind from 0 through 20 {
  .mar#{$ind * 5}  { margin: #{$ind * 5}px; }
  .marL#{$ind * 5} { margin-left   : #{$ind * 5}px; }
  .marR#{$ind * 5} { margin-right  : #{$ind * 5}px; }
  .marT#{$ind * 5} { margin-top    : #{$ind * 5}px; }
  .marB#{$ind * 5} { margin-bottom : #{$ind * 5}px; }
  .marH#{$ind * 5} { margin-left: #{$ind * 5}px; margin-right : #{$ind * 5}px; }
  .marV#{$ind * 5} { margin-top : #{$ind * 5}px; margin-bottom: #{$ind * 5}px; }
}


.bold { font-weight: bold; }
.pointer { cursor: pointer; }
.btn-col { margin-top: -4px; }  // When button next to inputs, pull it up to aling text
.text-br { white-space: pre-line; } // Makes the line breaks in the text break the line in the view