// Styles for the main layout (menu/navbar/view)


$bodyBgColor:#ebeff2;

body {
  background: $bodyBgColor;
}





.route-container {
  padding-top: calc(#{$navbar-height} + 15px);
  padding-right: 15px;
  padding-left: calc(#{$menu-width} + 40px);
  padding-bottom: 0;
  max-width: none;

  &.is-expanded {
    padding-top: 0;
    padding-left: 1px;  
  }
}

.page-heading-row {
  border: none 0;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  color: $primary_color;
}


ngb-modal-window {
  .modal-dialog {
    margin-top: 100px;
    .modal-header button.close {
        outline: none;
    }
  }
}

.modal-body {
  padding: 25px 30px;
  margin-left: 0;
  margin-right: 0;
}
