<div class="dialog-container"
     [style.bottom.px]="win.customDialog.size === 'min' ? win.customDialog.bottom : undefined"
     [class.minimized]="win.customDialog.size === 'min'" [style.z-index]="win.customDialog.zInd">
  <div class="window-bg" (click)="win.customDialog.maximize()"></div>
  <div [hidden]="win.customDialog.size === 'min'" class="min-btn" (click)="win.customDialog.minimize()" hoverTip="Click to minimize the window" tipSide="right">-</div>
  <div [hidden]="win.customDialog.size === 'max'" class="max-btn" (click)="win.customDialog.maximize()" hoverTip="Click to open the window" tipSide="left">{{card?.name}}</div>

  <h2>{{card?.name}}</h2>
  <div class="inner-dialog">
    <div class="center">
      <game-card [card]="card" from="customDialog"></game-card>
    </div>
  
    <p style="margin-top: 15px;">Bring 1 creature from your graveyard to your hand:</p>
  
    <div class="select-box">
      <game-card *ngFor="let targetCard of selectableCreatures"
                  [card]="targetCard" from="targetSelection" (click)="selectCard(targetCard.gId)">
      </game-card>
    </div>
  </div>

  <div class="btns-box">
    <bf-btn bfText="Cancel" bfIcon="icon-cross" (bfClick)="cardOp.cancel()"></bf-btn>
  </div>
</div>