h2 { padding: 15px 15px 0 15px; }

.page {
  margin-top: -15px;
  display: flex;
  height: 100%;

  .details {
    // flex: 0 0 480px;
    flex: 0;
    padding: 30px 40px 0 40px;
    border-right: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-details {
      text-align: center;
      margin: 20px -15px;
      font-size: 1.8em;
      .price { margin-top: 15px; }
    }
  }

  .list {
    flex: 4;
    padding: 0 15px;
    .search-box { margin: 0 -15px 0 0; }
    .all-units {
      position: absolute;
      top: 120px;
      // bottom: 0;
      max-height: calc(100% - 120px);
      margin-right: 15px;
      overflow: auto;
      margin-left: -7px;

      display: flex;
      flex-wrap: wrap;      
      .unit-wrapper {
        padding: 12px 12px;
        background-color: #ffffff52;
        box-shadow: 0 1px 2px rgba(34, 36, 38, 0.15);
        border-radius: 3px;
        margin: 5px;
        display: flex;
        width: 300px;
        max-width: 300px;
        .unit-data {
          padding: 2px 0px 2px 12px;
          font-size: 12px;
          max-width: 100%;
          word-break: break-all;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          .unit-text-data div { margin-bottom: 8px; }
          // .buy-btn {  }
          .on-sale {
            justify-content: flex-end;
            text-decoration: underline;
            transition-duration: 0.3s;
            cursor: pointer;
            &:hover { color: black; }
          }
        }
      }
    }

    bf-checkbox + bf-checkbox { margin-left: 45px; }
  }

}