h2 { padding: 15px 15px 0 15px; }

.page {
  padding: 0 15px 15px 0;
  display: flex;

  .details {
    flex: 0 0 480px;
    border-right: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-details {
      text-align: center;
      margin-top: 20px;
      font-size: 26px;
    }
  }

  .list {
    flex: 4;
    padding: 0 15px;
    margin-top: -20px;
    .all-units {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -7px;
      .unit-wrapper {
        padding: 12px 12px;
        background-color: #ffffff52;
        box-shadow: 0 1px 2px rgba(34, 36, 38, 0.15);
        border-radius: 3px;
        margin: 5px;
        display: flex;
        width: 300px;
        max-width: 300px;
        .unit-data {
          padding: 2px 0px 2px 12px;
          font-size: 12px;
          max-width: 100%;
          word-break: break-all;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          .unit-text-data div { margin-bottom: 8px; }
          // .buy-btn {  }
          .on-sale {
            justify-content: flex-end;
            text-decoration: underline;
            transition-duration: 0.3s;
            cursor: pointer;
            &:hover { color: black; }
          }
        }
      }
    }

    bf-checkbox + bf-checkbox { margin-left: 45px; }
  }

}