<div class="dialog-container" [class.minimized]="win.customDialog.size === 'min'" [style.z-index]="win.customDialog.zInd">
  <div [hidden]="win.customDialog.size === 'min'" class="min-btn" (click)="win.customDialog.minimize()">-</div>
  <div [hidden]="win.customDialog.size === 'max'" class="max-btn" (click)="win.customDialog.maximize()">{{card?.name}}</div>

  win.customDialog.zInd={{win.customDialog.zInd}} xxxxxxxxxxxxxxxx
  <h2>{{card?.name}}</h2>
  <div class="center">
    <game-card [card]="card" from="customDialog"></game-card>
  </div>

  <div class="select-box">
    <p>Tapping {{card?.name}} to add mana</p>
    <p>Select 1 mana:</p>

    <div class="mana-options">
      <mana-icon [mana]="mana1" (click)="select(mana1)"></mana-icon>
      <mana-icon [mana]="mana2" (click)="select(mana2)"></mana-icon>
    </div>

  </div>

  <div class="btns-box">
    <bf-btn bfText="Cancel" bfIcon="icon-cross" (bfClick)="cardOp.cancel()"></bf-btn>
  </div>
</div>