<div class="row" *ngIf="!!selUser && !!selUser?.decks">
  <div class="col-12">
    <!-- <h1 (click)="changePageMode()">My Stuff - mode = {{pageMode}}</h1> -->
    <h1>User {{profile.authUser.displayName}} Stuff</h1>
    <hr>
  </div>
</div>

<div class="content-view">

  <!-- Selected (viewing) Card -->
  <div class="card-detail-box">
    <div *ngIf="!!viewCard">
      <div class="card-box big-size">
        <div class="card-border">
          <img [src]="'/assets/cards/' + viewCard.card.image">
        </div>
      </div>

      <!-- Remove from deck -->
      <div class="marB20" *ngIf="pageMode === 1 && viewCard.from === 'deck'">
        <bf-btn class="full-width"
                bfType="delete"
                bfText="Remove from deck"
                (bfClick)="selectCard(this.selUser.$cards.getByProp('ref', viewCard.ref), 'all')">
        </bf-btn>
      </div>

      <bf-label class="value-list-3" bfText="Name"  [bfValue]="viewCard.card.id + ' - ' + viewCard.card.name"></bf-label>
      <bf-label class="value-list-3" bfText="Ref"   [bfValue]="viewCard.ref"></bf-label>
      <bf-label class="value-list-3" bfText="Color" [bfValue]="viewCard.card.color"></bf-label>
      <bf-label class="value-list-3" bfText="Type"  [bfValue]="viewCard.card.type"></bf-label>
      <bf-label class="value-list-3" bfText="Cast"  [bfValue]="viewCard.card.cast"></bf-label>

    </div>
  </div>


  <!-- Selected Deck -->
  <div *ngIf="!!selDeck" class="main-view-box deck-box">
    <div class="row">
      <div class="col-4">
        <h4 class="padL10">
          <span>Deck {{selDeck?.name}}:</span>
          <bf-btn *ngIf="pageMode === 1" class="marL15"
                  (bfClick)="openEditDeck()"
                  bfIcon="icon-pencil"
                  bfTooltip="Click to edit deck details">
          </bf-btn>
        </h4>
      </div>
      <div class="col-8 text-right" *ngIf="deckCards">
        <div class="marR30" style="display: inline-block" *ngIf="!!deckCards && deckCards.totalPages > 1">
          <bf-list-paginator [bfCtrl]="deckCards"></bf-list-paginator>
        </div>
        <bf-btn [hidden]="pageMode === 1" bfType="edit"   bfText="Edit Deck" (bfClick)="changePageMode(1)"></bf-btn>

        <!-- <bf-btn [hidden]="pageMode === 0" bfType="delete" bfText="Delete Deck" (bfClick)="changePageMode(1)"></bf-btn> -->
        <bf-btn [hidden]="pageMode === 0" bfType="cancel" bfText="Cancel"      (bfClick)="changePageMode(0)"></bf-btn>
        <bf-btn [hidden]="pageMode === 0" bfType="save"   bfText="Save Deck"   (bfClick)="saveDeck()"></bf-btn>
      </div>
      <div class="col-12 padL25">
        <h6>{{selDeck.description}}</h6>
      </div>
    </div>

    <div class="row marT20">
      <div class="col-12">
        <div *ngFor="let deckCard of deckCards.renderList$ | async"
              class="card-box" [class.selected]="deckCard.isSelected"
            (click)="selectCard(deckCard, 'deck')">
          <!-- <h5>{{deckCard.ref}}</h5> -->
          <h5>{{deckCard.id}} - {{ deckCard.card.name }}</h5>
          <div class="card-border" >
            <img [src]="'/assets/cards/' + deckCard.card.image">
          </div>
          <!-- sel={{deckCard.isSelected}} -->
        </div>
      </div>
      <div class="col-12" *ngIf="!(deckCards.renderList$ | async)?.length">
        <h5 class="no-card-warning" (click)="changePageMode(1)">No Cards at the moment</h5>
      </div>
    </div>
  </div>


  <!-- All Cards -->
  <div *ngIf="!selDeck || pageMode === 1" class="main-view-box">
    <h4 class="padL10">All My Cards:</h4>
    <div class="row cards-filter">
      <div class="col-4 padT30">
        <bf-input class="flat" name="searchText"
                  [(ngModel)]="filters.searchText"
                  (ngModelChange)="cardsList.filter($event)"
                  bfPlaceholder="Search">
        </bf-input>
      </div>
      <!-- <div class="col-4" *ngIf="!!selUser && !!selUser.decks">
        <bf-dropdown [(ngModel)]="filters.deckId"
                      (ngModelChange)="cardsList.filter($event)"
                      bfLabel="Collection"
                      [bfList]="selUser.decks"
                      bfRender="name"
                      bfSelect="id"
                      class="full-width">
        </bf-dropdown>
      </div> -->
      <div class="col-2">
        <bf-dropdown [(ngModel)]="filters.colorCode"
                      (ngModelChange)="cardsList.filter($event)"
                      bfLabel="Color"
                      [bfList]="globals.CardColors"
                      bfSelect="code"
                      bfRender="name"
                      class="full-width">
        </bf-dropdown>
      </div>
      <div class="col-2">
        <bf-dropdown [(ngModel)]="filters.cardType"
                      (ngModelChange)="cardsList.filter($event)"
                      bfLabel="Type"
                      [bfList]="globals.CardTypes"
                      bfSelect="code"
                      bfRender="name"
                      class="full-width">
        </bf-dropdown>
      </div>
      <div class="col-4" style="padding-top: 28px;" *ngIf="!!cardsList && cardsList.totalPages > 1">
        <bf-list-paginator class="full-width" [bfCtrl]="cardsList"></bf-list-paginator>
      </div>
      <!-- filters.deckId={{filters.deckId | json}} -->
    </div>
    <div class="row marT20">
      <div class="col-12">
        <div *ngFor="let userCard of cardsList.renderList$ | async"
              class="card-box" [class.selected]="userCard.isSelected"
            (click)="selectCard(userCard, 'all')">
          <!-- <h5>{{userCard.ref}}</h5> -->
          <h5>{{userCard.id}} - {{ userCard.card.name }}</h5>
          <div class="card-border" >
            <img [src]="'/assets/cards/' + userCard.card.image">
          </div>
          <!-- sel={{userCard.isSelected}} -->
        </div>
      </div>
      <div class="col-12" *ngIf="!(cardsList.renderList$ | async)?.length">
        <bf-btn bfType="add" bfText="Select Cards to Add"
               (bfClick)="filters.deckId = ''">
        </bf-btn>
      </div>
    </div>
  </div>


  <!-- Deck list -->
  <div class="decks-list"
       *ngIf="!!selUser && !!selUser?.decks"
       [hidden]="pageMode !== 0">

    <div class="row">
      <div class="col-12 deck-row d-flex align-items-center"
           [class.selected]="!selDeck"
           (click)="selectDeck(null)">
        <span class="icon-stack4 deck-icon"></span>
        <span class="deck-name">All My Cards</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <h4 class="marT5 marB10">My Decks:</h4>
      </div>
      <div class="col-6 text-right">
        <bf-btn bfText="New" bfType="add" (bfClick)="openAddDeck()"></bf-btn>
      </div>
    </div>

    <li class="row" *ngFor="let userDeck of selUser.decks">
      <div class="col-12 deck-row d-flex align-items-center"
           [class.selected]="selDeck?.id === userDeck?.id"
           (click)="selectDeck(userDeck)">
        <span class="icon-stack4 deck-icon"></span>
        <span class="deck-name">{{userDeck.name}}</span>
      </div>
    </li>

  </div>



  <!-- <pre>
    this.selUser={{ selUser | json }}
  </pre> -->
</div>
